
@{
    ViewBag.Title = "uparazzi | Arsa & Arazi Yatırım Uzmanlığı";
    ViewBag.Description = "uparazzi | Arsa & Arazi Yatırım Danışmanlığı";
    ViewBag.Url = "https://www.uparazzi.com.tr/home/hakkimizda";
    ViewBag.Photo = "https://www.uparazzi.com.tr/Theme/images/logo.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="propertyIntroBlock style2">
    <!-- propertyIntroImageSlider -->
    <div class="slick-fade slickSlider introSlider propertyIntroImageSlider">
        <div>
            <span class="bgCover elemenBlock introSlide" style="background-image: url(/Theme/images/back.jpg);"></span>
        </div>
    </div>
    <!-- propertyIntroCaption -->
    <div class="container propertyIntroCaption textWhite">
        <div class="align">
            <div class="row alignEnd">
                <div class="col-xs-12 col col-sm-8">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb breadcrumb1">
                    </ol>
                    <h1 class="fontNeuron textWhite">Hakkımızda</h1>
                </div>
                <div class="col-xs-12 col-sm-4 justify-end">
                    <!-- captionActionsList -->
                    <ul class="list-unstyled captionActionsList w100">
                        <li class="hasOver">
                            <a href="#">

                            </a>
                            <!-- postColumnSocial -->

                    
                    </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- servicesFetaureBlock -->
<section class="aboutBlock bgWhite">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-5">
                <div class="slickSlider testimonial-carousel testimonialSlider">
                    <div>
                        <!-- testimonialColumn -->
                        <div class="testimonialColumn text-center">
                            <img src="~/Theme/images/hakkimizda.jpg" alt="image description" class="img-responsive" >
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-7">
              
                <p>
                    uparazzi Türkiye’nin arsa arazi alım, satım ve kiralamalarında uzmanlaşmış ilk ve tek gayrimenkul franchise markasıdır. Yılların tecrübesi ve iş ağıyla arsa arazi yatırımlarında aracılık hizmeti sunan uparazzi, hem yatırımcıları hem de bayileri için geleceğin güvence altına alınmasına yardımcı olmaktadır.<br>
                    <br>
                    Güncel gelişmeler ışığında sürekli değişen bir finansal iklimde en kârlı yatırım aracı olan arsa arazi yatırımları teknik bilgi birikimi ve tecrübesiyle gerçek bir uzmanın rehberliğinde hareket etmeyi gerektirir. İşte bu noktada uparazzi, tüm mesleki bilgi birikimi, teknik altyapısı ve uzman kadrosuyla bu sürecin profesyonelce yürütülmesi ve sonuçlandırılmasını sağlayan en güvenli kurumsal yapıdır. Arsa arazi yatırımlarında tüm sektörün  "yatırım kılavuzu" olan uparazzi, yüksek bir teknik bilgi ve piyasa araştırması gerektiren bu gayrimenkul kolunu yatırımcıları için erişilebilir ve güvenilir bir platforma taşıyor. uparazzi, bünyesinde bir arsa arazi yatırım ansiklopedisi yaratarak konu üzerinde güçlü bir hakimiyet geliştirmesi bakımından Türkiye'de bunu başaran ilk ve tek gayrimenkul danışmanlığı hizmeti olma özelliği taşımaktadır. Oluşturulan marka anayasası ışığında, yalnızca satış sürecinde değil satış sonrasında da hizmet vermeye devam eden uparazzi, modern Türkiye’ye yaraşır vizyonu ile 'yatırımın doğa halini' hayatınıza bir yol gösterici olarak sunmaktadır.
                </p>
          
            </div>
        </div>
    </div>
</section>
<!-- servicesFetaureBlock -->
<!-- ourAgentBlock -->
<section class="bgWhite ourAgentBlock">
    <div class="container">
        <h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">MARKA</span> <span class="textSecondary">ANAYASASI</span></h1>
        <div class="row">
            <!-- profilesSlider -->
            <div class="four-slider slickSlider profilesSlider">
                <div>
                    <div class="col-xs-12">
                        <!-- profileColumn -->
                        <article class="profileColumn hasOver">
                            <div class="aligncenter">

                                <img src="/Theme/images/markaanayasa.jpg" alt="marka anayasası">
                                </a>
                            </div>
                            <div class="">

                                <div class="">
                                    <!-- profileColumnSocial -->
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12">
                        <!-- profileColumn -->
                        <article class="profileColumn hasOver">
                            <div class="aligncenter">

                                <img src="/Theme/images/markaanayasa2.jpeg" alt="marka anayasası">
                                </a>
                            </div>
                            <div class="">

                                <div class="">
                                    <!-- profileColumnSocial -->
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12">
                        <!-- profileColumn -->
                        <article class="profileColumn hasOver">
                            <div class="aligncenter">

                                <img src="/Theme/images/markaanayasa3.jpg" alt="marka anayasası">
                                </a>
                            </div>
                            <div class="">

                                <div class="">
                                    <!-- profileColumnSocial -->
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12">
                        <!-- profileColumn -->
                        <article class="profileColumn hasOver">
                            <div class="aligncenter">

                                <img src="/Theme/images/markaanayasa4.jpg" alt="marka anayasası">
                                </a>
                            </div>
                            <div class="">

                                <div class="">
                                    <!-- profileColumnSocial -->
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12">
                        <!-- profileColumn -->
                        <article class="profileColumn hasOver">
                            <div class="aligncenter">

                                <img src="/Theme/images/markaanayasa5.jpg" alt="marka anayasası">
                                </a>
                            </div>
                            <div class="">

                                <div class="">
                                    <!-- profileColumnSocial -->
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12">
                        <!-- profileColumn -->
                        <article class="profileColumn hasOver">
                            <div class="aligncenter">

                                <img src="/Theme/images/markaanayasa6.jpg" alt="marka anayasası">
                                </a>
                            </div>
                            <div class="">

                                <div class="">
                                    <!-- profileColumnSocial -->
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12">
                        <!-- profileColumn -->
                        <article class="profileColumn hasOver">
                            <div class="aligncenter">

                                <img src="/Theme/images/markaanayasa7.jpg" alt="marka anayasası">
                                </a>
                            </div>
                            <div class="">

                                <div class="">
                                    <!-- profileColumnSocial -->
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12">
                        <!-- profileColumn -->
                        <article class="profileColumn hasOver">
                            <div class="aligncenter">

                                <img src="/Theme/images/markaanayasa8.jpg" alt="imarka anayasası">
                                </a>
                            </div>
                            <div class="">

                                <div class="">
                                    <!-- profileColumnSocial -->
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12">
                        <!-- profileColumn -->
                        <article class="profileColumn hasOver">
                            <div class="aligncenter">

                                <img src="/Theme/images/markaanayasa9.jpg" alt="imarka anayasası">
                                </a>
                            </div>
                            <div class="">

                                <div class="">
                                    <!-- profileColumnSocial -->
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12">
                        <!-- profileColumn -->
                        <article class="profileColumn hasOver">
                            <div class="aligncenter">

                                <img src="/Theme/images/markaanayasa10.jpg" alt="imarka anayasası">
                                </a>
                            </div>
                            <div class="">

                                <div class="">
                                    <!-- profileColumnSocial -->
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
