
@{
    ViewBag.Title = "KullanimGizlilik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ol li {
        font-size: large;
    }
</style>
<section class="propertyIntroBlock style2">
    <!-- propertyIntroImageSlider -->
    <div class="slick-fade slickSlider introSlider propertyIntroImageSlider">
        <div>
            <span class="bgCover elemenBlock introSlide" style="background-image: url(/Theme/images/back.jpg);"></span>
        </div>
    </div>
    <!-- propertyIntroCaption -->
    <div class="container propertyIntroCaption textWhite">
        <div class="align">
            <div class="row alignEnd">
                <div class="col-xs-12 col col-sm-8">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb breadcrumb1">
                    </ol>
                    <h1 class="fontNeuron textWhite">Kullanım Şartları ve Gizlilik Politikamız</h1>
                </div>
                <div class="col-xs-12 col-sm-4 justify-end">
                    <!-- captionActionsList -->
                    <ul class="list-unstyled captionActionsList w100">
                        <li class="hasOver">
                            <a href="#">

                            </a>
                            <!-- postColumnSocial -->


                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<main>
    <section class="aboutBlock bgWhite">
        <div class="container" style="color:black;text-align:justify">






            <ol>
                <li><strong> TARAFLAR</strong></li>
            </ol>
            <p>İşbu &Uuml;yelik S&ouml;zleşmesi (bundan b&ouml;yle &ldquo;&Uuml;yelik S&ouml;zleşmesi&rdquo; olarak anılacaktır); &ldquo;Soğanlık Yeni Mah. Baltacı Mehmet Paşa Sok. AC Moment Residence B Blok Daire: 87 Kartal/İstanbul&rdquo; adresinde mukim UPARAZZİ GAYRİMENKUL YATIRIM A.Ş.&rdquo;(UPARAZZİ) (bundan b&ouml;yle kısaca " UPARAZZİ " olarak anılacaktır) ile <u>www.uparazzi.com.tr</u> portalına &uuml;ye olmak i&ccedil;in işbu &Uuml;yelik S&ouml;zleşmesi ile ayrılmaz par&ccedil;ası olan eklerine ve <u>www.uparazzi.com.tr</u> portalında yer alan şartlar ile kurallara onay veren "&Uuml;ye" arasında elektronik ortamda akdedilerek y&uuml;r&uuml;rl&uuml;ğe girmiştir.</p>
            <ol start="2">
                <li><strong> TANIMLAR</strong></li>
            </ol>
            <p>&ldquo;Portal&rdquo;: <u>www.uparazzi.com.tr</u> isimli alan adından ve bu alan adına bağlı alt alan adlarından oluşan &ldquo;UPARAZZİ&rsquo;nin &ldquo;hizmetlerini sunduğu internet sitesi.</p>
            <p>&ldquo;Kullanıcı&rdquo;: Portala erişen her ger&ccedil;ek veya t&uuml;zel kişi.</p>
            <p>&ldquo;&Uuml;ye&rdquo;: Portala &uuml;ye olan ve portal dahilinde sunulan hizmetlerden belirlenen koşullar dahilinde yararlanan kullanıcı.</p>
            <p>&Uuml;YELİK: &Uuml;ye olmak isteyen kullanıcının (bağımsız gayrimenkul danışmanlarının ve bayilerin), portaldaki &uuml;yelik formunu doğru ve ger&ccedil;ek bilgilerle doldurması, verdiği kimlik bilgilerinin &ldquo;UPARAZZİ&rdquo; tarafından onaylanması ve bildirimi ile kazanılan stat&uuml;d&uuml;r. &Uuml;yelik işlemleri tamamlanmadan &uuml;ye olma hak ve yetkisine sahip olunamaz. &Uuml;yelik hak ve y&uuml;k&uuml;ml&uuml;l&uuml;kleri, başvuruda bulunana ait olan, kısmen veya tamamen herhangi bir &uuml;&ccedil;&uuml;nc&uuml; şahsa devredilemeyen hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerdir. &Uuml;yelik başvurusu herhangi bir sebep g&ouml;sterilmeksizin &ldquo;UPARAZZİ&rdquo; tarafından reddedilebilir veya ek şart ve koşullar talep edilebilir. &ldquo;UPARAZZİ&rdquo; gerekli g&ouml;rmesi halinde &uuml;yenin &uuml;yelik stat&uuml;s&uuml;n&uuml; sona erdirebilir, &uuml;yeliği herhangi bir sebeple sona erenin sonradan yapacağı &uuml;yelik başvurusunu kabul etmeyebilir.</p>
            <p>&Uuml;YELİK S&Ouml;ZLEŞMESİ: Portal da yer alan şartlar ve koşullar ile eklerden oluşan, kullanıcının &Uuml;yelik S&ouml;zleşmesini anladığına ve kabul ettiğine ilişkin elektronik olarak verdiği onay neticesinde elektronik ortamda akdedilen, ayrılmaz par&ccedil;ası olan ekler ile Portal da yer alan şart ve kurallarla birlikte bir b&uuml;t&uuml;n olan elektronik s&ouml;zleşme.</p>
            <p>UPARAZZİ &Uuml;YELİK HESABI: &Uuml;yenin Portal i&ccedil;erisinde sunulan hizmetlerden yararlanmak i&ccedil;in gerekli olan iş ve işlemleri ger&ccedil;ekleştirdiği, &Uuml;yelikle ilgili konularda &ldquo;UPARAZZİ&rdquo;ye</p>
            <p>talepte bulunduğu, &Uuml;yelik bilgilerini g&uuml;ncelleyip, sunulan hizmetlerle ilgili raporlamaları g&ouml;r&uuml;nt&uuml;leyebildiği, kendisinin belirlediği ve m&uuml;nhasıran kendisi tarafından kullanılacağını taahh&uuml;t ettiği kullanıcı adı ve şifre ile Portal &uuml;zerinden eriştiği &Uuml;yeye &ouml;zel internet sayfaları b&uuml;t&uuml;n&uuml;.</p>
            <p>UPARAZZİ HİZMETLERİ: Portal i&ccedil;erisinde &uuml;yenin işbu &Uuml;yelik S&ouml;zleşmesi i&ccedil;erisinde tanımlı olan iş ve işlemlerini ger&ccedil;ekleştirmelerini sağlamak amacıyla &ldquo;UPARAZZİ&rdquo; tarafından sunulan uygulamalardır. &ldquo;UPARAZZİ&rdquo;, portal i&ccedil;erisinde sunulan hizmetlerinde dilediği zaman değişiklikler ve/veya uyarlamalar yapabilir. Yapılan değişiklikler ve/veya uyarlamalarla ilgili &uuml;yenin uymakla y&uuml;k&uuml;ml&uuml; olduğu kural ve koşullar portaldan &uuml;yeye duyurulur, a&ccedil;ıklanan şartlar ve koşullar portal da yayımlandığı tarihte y&uuml;r&uuml;rl&uuml;ğe girer.</p>
            <p>İ&Ccedil;ERİK: Portal da yayınlanan ve erişimi m&uuml;mk&uuml;n olan her t&uuml;rl&uuml; bilgi, yazı, dosya, resim, video, rakam vb. g&ouml;rsel, yazımsal ve işitsel imgeler.</p>
            <p>UPARAZZİ ARAY&Uuml;Z&Uuml;: UPARAZZİ ve &uuml;yeler tarafından oluşturulan i&ccedil;eriğin kullanıcılar tarafından g&ouml;r&uuml;nt&uuml;lenebilmesi ve &ldquo;UPARAZZİ&rdquo; veri tabanından sorgulanabilmesi amacıyla kullanıcılar tarafından kullanılan; 5846 Sayılı Fikir ve Sanat Eserleri Kanunu kapsamında korunan ve t&uuml;m fikri hakları &ldquo;UPARAZZİ&rdquo; ye ait olan tasarımlar i&ccedil;erisinde portal &uuml;zerinden yapılabilecek her t&uuml;rl&uuml; işlemin ger&ccedil;ekleştirilmesi i&ccedil;in bilgisayar programına komut veren internet sayfaları.</p>
            <p>UPARAZZİ VERİTABANI: Portal dahilinde erişilen i&ccedil;eriklerin depolandığı, tasnif edildiği, sorgulanabildiği ve erişilebildiği &ldquo;UPARAZZİ&rdquo; ye ait olan 5846 Sayılı Fikir ve Sanat Eserleri Kanunu gereğince korunan veri tabanıdır.</p>
            <p>KİŞİSEL VERİ: 6698 sayılı Kişisel Verilerin Korunması Hakkında Kanun&rsquo;un (KVKK) 3/d maddesi uyarınca, kimliği belirli veya belirlenebilir ger&ccedil;ek kişiye ilişkin her t&uuml;rl&uuml; bilgi ile KVKK m.6/1&rsquo;de sayılan &ouml;zel nitelikli kişisel verilerdir.</p>
            <p>&Ouml;ZEL NİTELİKLİ KİŞİSEL VERİ: Kişilerin ırkı, etnik k&ouml;keni, siyasi d&uuml;ş&uuml;ncesi, felsefi inancı, dini, mezhebi veya diğer inan&ccedil;ları, kılık ve kıyafeti, dernek, vakıf ya da sendika &uuml;yeliği, sağlığı, cinsel hayatı, ceza mahk&ucirc;miyeti ve g&uuml;venlik tedbirleriyle ilgili verileri ile biometrik ve genetik verileri &ouml;zel nitelikli kişisel veridir.</p>
            <ol start="3">
                <li><strong> &Uuml;YELİK S&Ouml;ZLEŞMESİNİN KONUSU VE KAPSAMI</strong></li>
            </ol>
            <p>İşbu &Uuml;yelik S&ouml;zleşmesinin konusu, portal da sunulan hizmetlerin, bu hizmetlerden yararlanma şartları ile tarafların hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerinin tespitidir. &Uuml;yelik S&ouml;zleşmesi ve ekleri ile portal i&ccedil;erisinde yer alan kullanıma, &uuml;yeliğe ve hizmetlere ilişkin &ldquo;UPARAZZİ&rdquo; tarafından yapılan t&uuml;m uyarı, bildirim, uygulama ve a&ccedil;ıklama gibi beyanlar kapsam d&acirc;hilindedir. &Uuml;ye, işbu &Uuml;yelik S&ouml;zleşmesi h&uuml;k&uuml;mlerini kabul etmekle, portal i&ccedil;inde yer alan kullanıma, &uuml;yeliğe ve hizmetlere ilişkin &ldquo;UPARAZZİ&rdquo; tarafından a&ccedil;ıklanan her t&uuml;rl&uuml; beyana uygun davranacağını kabul ve taahh&uuml;t etmektedir.</p>
            <ol start="4">
                <li><strong> &Uuml;YELİK ŞARTLARI</strong></li>
            </ol>
            <p>4.1 Portala &uuml;ye olabilmek i&ccedil;in &ldquo;UPARAZZİ&rdquo; tarafından işbu &Uuml;yelik S&ouml;zleşmesi kapsamında ge&ccedil;ici olarak &uuml;yelikten uzaklaştırılmamış, &uuml;yeliği askıya alınmamış veya &uuml;yelikten s&uuml;resiz yasaklanmamış olmak gerekmektedir.</strong></p>
            <p>4.2 &ldquo;UPARAZZİ&rdquo; herhangi bir zamanda gerek&ccedil;e g&ouml;stermeden, bildirimde bulunmadan, tazminat, ceza vb. sair y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; bulunmaksızın derhal y&uuml;r&uuml;rl&uuml;ğe girecek şekilde işbu &Uuml;yelik S&ouml;zleşmesini tek taraflı olarak feshedebilir, &uuml;yenin &uuml;yeliğine son verebilir veya ge&ccedil;ici olarak durdurabilir. Portal da belirtilen kurallara aykırılık halleri, &uuml;yenin &ldquo;UPARAZZİ&rdquo; bilgi g&uuml;venliği sistemine risk oluşturması halleri &uuml;yeliğe son verme veya &uuml;yeliği ge&ccedil;ici durdurma hallerindendir.</strong></p>
            <ol start="5">
                <li><strong>TARAFLARIN HAK VE Y&Uuml;K&Uuml;ML&Uuml;L&Uuml;KLERİ</strong></li>
            </ol>
            <p>5.1 &Uuml;yenin Hak ve Y&uuml;k&uuml;ml&uuml;l&uuml;kleri</p>
            <p>5.1.1 &Uuml;ye, portal da belirtilen kurallara, beyanlara, y&uuml;r&uuml;rl&uuml;kteki t&uuml;m mevzuata ve ahlak kurallarına uygun hareket edeceğini, &Uuml;yelik S&ouml;zleşmesi h&uuml;k&uuml;mleri ile portaldaki t&uuml;m şart ve kuralları anladığını ve onayladığını kabul ve taahh&uuml;t etmektedir.</strong></p>
            <p>5.1.2 &Uuml;yenin y&uuml;r&uuml;rl&uuml;kteki mevzuat h&uuml;k&uuml;mleri gereğince resmi makamlara a&ccedil;ıklama yapmakla y&uuml;k&uuml;ml&uuml; olduğu durumlarda; &uuml;yelere ait gizli/&ouml;zel/kişisel veri-&ouml;zel nitelikli kişisel veri/ticari bilgileri resmi makamlara a&ccedil;ıklamaya yetkili olduğunu, bu sebeple &ldquo;UPARAZZİ&rdquo; den her ne nam altında olursa olsun tazminat talep etmeyeceğini kabul ve taahh&uuml;t etmektedir. Bunun haricinde &uuml;yenin portal &uuml;zerinde verdiği ilanlarla ilgili olarak herhangi bir kişi ya da kurumun haklarının ihlal edildiği iddiası ile &ldquo;UPARAZZİ&rdquo; ye bildirimde bulunması, yargı yoluna başvuracağını bildirmesi halinde; &uuml;yenin kendisine bildirdiği ad-soyad bilgisini &ldquo;UPARAZZİ&rdquo; ilgili tarafa verebilir.</p>
            <p>5.1.3. &Uuml;yelerin, &ldquo;UPARAZZİ&rdquo; &Uuml;yelik Hesabına girişte kullandıkları kullanıcı adı ve şifrenin g&uuml;venliğini sağlamaları, m&uuml;nhasıran ve m&uuml;nferiden kendileri tarafından kullanılmasını temin etmeleri, &uuml;&ccedil;&uuml;nc&uuml; kişilerden saklamaları tamamen kendi sorumluluğundadır. Bu konuda ihmal veya kusurlarından dolayı diğer &uuml;yelerin ve/veya &ldquo;UPARAZZİ&rdquo; nin ve/veya &uuml;&ccedil;&uuml;nc&uuml; kişilerin uğradığı veya uğrayabileceği maddi ve/veya manevi her t&uuml;r zararlardan &uuml;ye sorumludur.</p>
            <p>5.1.4. &Uuml;ye, portal dahilinde kendisi tarafından sağlanan bilgilerin ve i&ccedil;eriklerin doğru ve hukuka uygun olduğunu, s&ouml;z konusu bilgi ve i&ccedil;eriklerin portal &uuml;zerinde yayınlanmasının veya bu i&ccedil;eriklerle bağlantılı &uuml;r&uuml;nlerin satışının ve teşhirinin, y&uuml;r&uuml;rl&uuml;kteki mevzuat doğrultusunda herhangi bir hukuka aykırılık yaratmadığını kabul ve taahh&uuml;t etmektedir. &ldquo;UPARAZZİ&rdquo;, &uuml;ye tarafından &ldquo;UPARAZZİ&rdquo;ye iletilen veya portal &uuml;zerinden &uuml;ye tarafından y&uuml;klenen bilgilerin ve i&ccedil;eriklerin doğruluğunu araştırmakla y&uuml;k&uuml;ml&uuml; ve sorumlu olmadığı gibi, s&ouml;z konusu bilgi ve i&ccedil;eriklerin yanlış veya hatalı olmasından veya yayınlanmasından dolayı ortaya &ccedil;ıkacak hi&ccedil;bir zarardan sorumlu tutulamaz.</p>
            <p>5.1.5. &Uuml;ye, &ldquo;UPARAZZİ&rdquo; nin yazılı onayı olmadan işbu &Uuml;yelik S&ouml;zleşmesini veya bu &Uuml;yelik S&ouml;zleşmesinin kapsamındaki hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerini kısmen veya tamamen herhangi bir &uuml;&ccedil;&uuml;nc&uuml; kişiye devredemez.</p>
            <p>5.1.6. &Uuml;ye hukuka uygun ama&ccedil;larla portal &uuml;zerinde işlem yapabilir. &Uuml;yenin, portal dahilinde yaptığı her işlem ve eylemdeki hukuki ve cezai sorumluluk kendisine aittir. &Uuml;ye, &ldquo;UPARAZZİ&rdquo; nin ve/veya başka bir &uuml;&ccedil;&uuml;nc&uuml; şahsın ayni veya şahsi haklarına, malvarlığına, kişisel verilerine tecav&uuml;z teşkil edecek nitelikteki portal d&acirc;hilinde bulunan resimleri, metinleri, g&ouml;rsel ve işitsel imgeleri, video klipleri, dosyaları, veri tabanları, katalogları ve listeleri &ccedil;oğaltmayacağını, kopyalamayacağını, dağıtmayacağını, işlemeyeceğini, başka veri tabanına aktarmayacağını veya bu nitelikte sonu&ccedil;lar doğurabilecek şekilde portala y&uuml;klemeyeceğini; bu t&uuml;r eylemler ger&ccedil;ekleştirerek herhangi bir ticari faaliyette bulunmayacağını; gerek bu eylemleri ile gerekse de başka yollarla doğrudan ve/veya dolaylı olarak haksız rekabet teşkil eden davranış ve işlemler ger&ccedil;ekleştirmeyeceğini kabul ve taahh&uuml;t etmektedir. &Uuml;yenin işbu &Uuml;yelik S&ouml;zleşmesi h&uuml;k&uuml;mlerine ve hukuka aykırı olarak ger&ccedil;ekleştirdikleri portal &uuml;zerindeki faaliyetler nedeniyle &uuml;&ccedil;&uuml;nc&uuml; kişilerin uğradıkları veya uğrayabilecekleri zararlardan dolayı &ldquo;UPARAZZİ&rdquo; doğrudan ve/veya dolaylı olarak hi&ccedil;bir şekilde sorumlu tutulamaz.</p>
            <p>5.1.7. &ldquo;UPARAZZİ&rdquo;, &uuml;yelerin sadece ilgili ilanların i&ccedil;eriklerini &ouml;ğrenme amacıyla ilanları g&ouml;r&uuml;nt&uuml;lemesine ve &ldquo;UPARAZZİ&rdquo; ara y&uuml;z&uuml;n&uuml; kullanmasına izin vermekte olup, bunun dışında bir ama&ccedil;la veri tabanı &uuml;zerinden belirli bir sayıda veya b&uuml;t&uuml;n&uuml;ne y&ouml;nelik olarak ilanlara ulaşılmaya &ccedil;alışılması, ilanların kısmen veya tamamen kopyalanması, bunların başka mecralarda doğrudan veya dolaylı olarak yayınlanması, derlenmesi, işlenmesi, başka veri tabanlarına aktarılması, bu veri tabanından &uuml;&ccedil;&uuml;nc&uuml; kişilerin erişimine ve kullanımına a&ccedil;ılması, &ldquo;UPARAZZİ&rdquo; &uuml;zerindeki ilanlara link verilmesi de dahil olmak &uuml;zere benzer fiillerin işlenmesine &ldquo;UPARAZZİ&rdquo; tarafından izin verilmemekte ve rıza g&ouml;sterilmemektedir. Bu t&uuml;r fiiller hukuka aykırı olup; &ldquo;UPARAZZİ&rdquo; nin gerekli talep, dava ve takip hakları saklıdır.</p>
            <p>5.2. &ldquo;UPARAZZİ&rdquo;NİN HAK VE Y&Uuml;K&Uuml;ML&Uuml;L&Uuml;KLERİ</p>
            <p>5.2.1. &ldquo;UPARAZZİ&rdquo;, işbu &Uuml;yelik S&ouml;zleşmesinde bahsi ge&ccedil;en hizmetleri; ilgili hizmetlerin sunumuyla ilgili &ldquo;UPARAZZİ&rdquo; &Uuml;yelik Hesabı" i&ccedil;erisinde belirtilen a&ccedil;ıklamalar ve işbu &Uuml;yelik S&ouml;zleşmesinde belirtilen koşullar d&acirc;hilinde yerine getirmeyi, işbu &Uuml;yelik S&ouml;zleşmesi kapsamında belirtilen hizmetlerin sunulabilmesi i&ccedil;in gerekli olan teknolojik altyapıyı tesis etmeyi ve işletmeyi kabul, beyan ve taahh&uuml;t eder. İşbu madde i&ccedil;erisinde belirtilen teknolojik altyapı tesis etme y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;, sınırsız ve eksiksiz bir hizmet taahh&uuml;d&uuml; anlamına gelmemektedir; &ldquo;UPARAZZİ&rdquo; her zaman herhangi bir bildirimde bulunmadan işbu &ldquo;&Uuml;yelik S&ouml;zleşmesi&rdquo; ile belirlenen hizmetlerini ve teknolojik altyapısını durdurabilir veya son verebilir.</p>
            <p>5.2.2. &ldquo;UPARAZZİ&rdquo;, portal da sunulan hizmetleri ve i&ccedil;erikleri her zaman değiştirebilme; &uuml;yelerin sisteme y&uuml;kledikleri bilgileri ve i&ccedil;erikleri portal kullanıcıları da d&acirc;hil olmak &uuml;zere &uuml;&ccedil;&uuml;nc&uuml; kişilerin erişimine kapatabilme ve silme hakkını saklı tutmaktadır. &ldquo;UPARAZZİ&rdquo;, bu hakkını hi&ccedil;bir bildirimde bulunmadan ve &ouml;nel vermeden kullanabilir. &Uuml;yeler, &ldquo;UPARAZZİ&rdquo; nin talep ettiği değişiklik ve/veya d&uuml;zeltmeleri ivedi olarak yerine getirmek zorundadırlar. Değişiklik ve/veya d&uuml;zeltmeleri gerekli g&ouml;r&uuml;ld&uuml;ğ&uuml; takdirde &ldquo;UPARAZZİ&rdquo; yapabilir. &ldquo;UPARAZZİ&rdquo; tarafından talep edilen değişiklik ve/veya d&uuml;zeltme taleplerinin, &uuml;yeler tarafından zamanında yerine getirilmemesi sebebiyle doğan veya doğabilecek zararlar, hukuki ve cezai sorumluluklar tamamen &uuml;yelere aittir.</p>
            <p>5.2.3. Portal &uuml;zerinden, &ldquo;UPARAZZİ&rdquo; nin kendi kontrol&uuml;nde olmayan satıcılar, sağlayıcılar ve başkaca &uuml;&ccedil;&uuml;nc&uuml; kişilerin sahip olduğu ve işlettiği başka internet sitelerine ve/veya portallara, dosyalara veya i&ccedil;eriklere link verebilir. Bu linkler &uuml;yeler tarafından veya sadece referans kolaylığı nedeniyle &ldquo;UPARAZZİ&rdquo; tarafından sağlanmış olabilir ve linkin y&ouml;neldiği internet sitesini veya işleten kişisini desteklemek amacıyla veya internet sitesi veya i&ccedil;erdiği bilgilere y&ouml;nelik herhangi bir t&uuml;rde doğrulama beyanı veya garanti niteliği taşımamaktadır. Portal &uuml;zerindeki linkler vasıtasıyla erişilen portallar, internet siteleri, dosyalar ve i&ccedil;erikler, bu linkler vasıtasıyla erişilen portallar veya internet sitelerinden sunulan hizmetler veya &uuml;r&uuml;nler veya bunların i&ccedil;eriği hakkında &ldquo;UPARAZZİ&rdquo; nin herhangi bir sorumluluğu yoktur.</strong></p>
            <p>5.2.4. &ldquo;UPARAZZİ&rdquo;, portalın işleyişine, hukuka, başkalarının haklarına, &Uuml;yelik S&ouml;zleşmesi koşullarına, kişisel verilerin korunmasına genel ahlak kurallarına aykırı olan mesajları, i&ccedil;erikleri istediği zaman ve şekilde erişimden kaldırabilir; &ldquo;UPARAZZİ&rdquo; bu mesaj ve i&ccedil;eriği giren &uuml;yenin &uuml;yeliğine herhangi bir bildirim yapmadan son verebilir.</strong></p>
            <p>5.2.5. &ldquo;UPARAZZİ&rdquo;nin, &ldquo;UPARAZZİ&rdquo; &ccedil;alışanlarının ve y&ouml;neticilerinin, portal da &uuml;yeler ve kullanıcılar tarafından sağlanan i&ccedil;eriklerin hukuka uygun olup olmadığını, ger&ccedil;ekliğini, doğruluğunu araştırmak ve kontrol etmek y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; bulunmamaktadır.</strong></p>
            <ol start="6">
                <li><strong> GİZLİLİK POLİTİKASI</strong></li>
            </ol>
            <p>6.1 &ldquo;UPARAZZİ&rdquo;, portal da &uuml;yelerle ilgili bilgileri işbu &Uuml;yelik S&ouml;zleşmesi ve işbu &Uuml;yelik S&ouml;zleşmesinin eklerinden biri ve ayrılmaz par&ccedil;ası olan EK-2&rsquo;teki Gizlilik Politikası kapsamında kullanabilir. &ldquo;UPARAZZİ&rdquo; &uuml;yelere ait gizli bilgileri ancak Gizlilik Politikasında belirtilen koşullar d&acirc;hilinde &uuml;&ccedil;&uuml;nc&uuml; kişilere a&ccedil;ıklayabilir veya kullanabilir.</strong></p>
            <p>6.2. &ldquo;UPARAZZİ&rdquo;, &Uuml;yelik S&ouml;zleşmesi ile belirlenen ama&ccedil; ve kapsam dışında da &uuml;ye olma aşamasında talep edilen ad-soyad, telefon numarası, e-posta adresi gibi bilgileri; y&uuml;r&uuml;rl&uuml;kte bulunan mevzuatta &ouml;ng&ouml;r&uuml;len koşullara tabi şekilde ve gerektiğinde ek onayları ve a&ccedil;ık rızaları almak suretiyle sms, e-posta, site i&ccedil;i bilgilendirmeler ve benzeri y&ouml;ntemlerle, tanıtım ve bilgilendirme ama&ccedil;lı iletişim faaliyetleri, araştırma, pazarlama faaliyetleri ve istatistik&icirc; analizler yapmak amacıyla veya gerektiğinde &uuml;ye ile temas kurmak i&ccedil;in kullanabilir. Yine y&uuml;r&uuml;rl&uuml;kte bulunan mevzuatta &ouml;ng&ouml;r&uuml;len koşullara tabi şekilde ve gerektiğinde ek onayları ve a&ccedil;ık rızaları almak suretiyle kişisel veriler aynı zamanda www.uparazzi.com.tr s&uuml;re&ccedil;lerini iyileştirme ama&ccedil;lı araştırmalar yapmak, veri tabanı oluşturmak ve pazar araştırmaları yapmak i&ccedil;in &ldquo;UPARAZZİ&rdquo;nin işbirliği i&ccedil;inde olduğu firmalara aktarılabilir, bu firmalar tarafından işlenebilir ve kullanılabilir.</strong></p>
            <p>6.3.&Uuml;yenin kişisel veri teşkil edebilecek ve kendisi tarafından portala girilen verileri &ldquo;UPARAZZİ&rdquo; tarafından &Uuml;yelik S&ouml;zleşmesi kapsamında; portalın fonksiyonlarının kullandırılması, hizmetlerin ve i&ccedil;eriklerin sağlanması ve yukarıda sayılan ama&ccedil;larla toplanmakta ve işlenmektedir. &ldquo;UPARAZZİ&rdquo; Kişisel Verilerin Korunması Politikasında ve sair kişisel veriler ile ilgili politika, prosed&uuml;r, s&ouml;zleşme maddeleri ve kullanım koşullarında istediği zaman değişiklik yapabilir. Değişiklikler portal da yayınlandığı anda y&uuml;r&uuml;rl&uuml;ğe girer. &Uuml;ye bu değişiklikleri takip etmekle y&uuml;k&uuml;ml&uuml; olup, &ldquo;UPARAZZİ&rdquo; den bu değişikliklerle ilgili herhangi bir talepte veya zarar ziyan iddiasında bulunamaz.</strong></p>
            <p>6.4. &Uuml;ye, portal dahilinde eriştiği bilgileri yalnızca bu bilgileri ifşa eden &uuml;yenin veya &ldquo;UPARAZZİ&rdquo;nin ifşa ettiği ama&ccedil;lara uygun olarak kullanmakla y&uuml;k&uuml;ml&uuml; olup, elde ettiği kullanıcılara veya &uuml;&ccedil;&uuml;nc&uuml; kişilere ait Kişisel Verilerin korunmasından, işlenmesinden, aktarılmasından ve KVKK kapsamındaki t&uuml;m y&uuml;k&uuml;ml&uuml;l&uuml;klerden kendisinin sorumlu olduğunu, &ldquo;UPARAZZİ&rdquo;nin kendi sistemlerinde internet sitesinin kullanımı i&ccedil;in zorunlu olarak topladığı kişisel veriler dışındaki hi&ccedil;bir kişisel veri i&ccedil;in KVKK kapsamında herhangi bir y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml;n ve sorumluluğunun olmadığını kabul, beyan ve taahh&uuml;t eder. &Uuml;ye; kişisel verilerin korunması y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;ne aykırı hareket etmesi veya kişisel verileri işlemesi, aktarması veya sair surette bir işleme konu etmesi ve bu kullanımın bir ihlal meydana getirmesi durumunda, Kişisel Verileri Koruma Kurulu&rsquo;nun veya idari makamların veya mahkemelerin kişisel verilerle ilgili olarak verdikleri kararlar neticesinde &ldquo;UPARAZZİ&rdquo; nin bir zarara uğraması durumunda bu zararı ilk talepte nakden ve defaten tazmin edeceğini kabul, beyan ve taahh&uuml;t eder.</strong></p>
            <p>6.5. &Uuml;ye, &ldquo;UPARAZZİ&rdquo; &uuml;yeliği ve/veya yayınladığı ilanlar nedeniyle alenileşmiş olan kişisel verilerinin Google veya diğer arama motorları veya benzer verileri indeksleyen sistemler tarafından kaydedilmesi, işlenmesi, arama sonu&ccedil;larında &ccedil;ıkarılması gibi durumlar i&ccedil;in &ldquo;UPARAZZİ&rdquo;nin herhangi bir katkısının olmadığını ve kişisel verilerinin indesklenmek veya sair y&ouml;ntemlerle aramaya mahsus yapılandırılmış sistemlerde herhangi bir şekil ve surette işlenmesi veya aktarılmasından dolayı &ldquo;UPARAZZİ&rdquo;nin herhangi bir sorumluluğunun olmadığını, veri sahibi olarak yapacağı başvuru taleplerini başta indekslemeyle ilgili s&uuml;re&ccedil;lerde veri sorumlusu sıfatını haiz olan Google olmak &uuml;zere diğer arama motorları veya arama sistemleri, indeskleme sistemleri işleten veri sorumlusu ger&ccedil;ek ve/veya t&uuml;zel kişilere y&ouml;neltmeyi kabul, beyan ve taahh&uuml;t eder.</strong></p>

            <p>6.6. &Uuml;ye ilan verirken veya herhangi bir nedenle &ouml;zel nitelikli kişisel verilerini &ldquo;UPARAZZİ&rdquo; portal &uuml;zerinden yayınladığı takdirde, &ouml;zel nitelikli kişisel verilerin bu şekilde aleniyet kazandığını ve aleniyet kazanan &ouml;zel nitelikli kişisel verilerinin alenileştirme amacına bağlı olarak &ldquo;UPARAZZİ&rdquo; tarafından kullanılabileceğini, aktarılabileceğini, işlenebileceğini bildiğini; işbu işleme faaliyetlerinin de hukuka aykırılık teşkil etmeyeceğini bildiğini kabul, beyan ve taahh&uuml;t eder.</strong></p>

            <ol start="7">
                <li><strong> FİKRİ M&Uuml;LKİYET HAKLARI</strong></li>
            </ol>

            <p>&Uuml;yeler, &ldquo;UPARAZZİ&rdquo; hizmetlerini, &ldquo;UPARAZZİ&rdquo; bilgilerini ve &ldquo;UPARAZZİ&rdquo;nin telif haklarına tabi &ccedil;alışmalarını satmak, işlemek, paylaşmak, dağıtmak, sergilemek veya başkasının &ldquo;UPARAZZİ&rdquo;nin hizmetlerine erişmesi veya kullanmasına izin vermek hakkına sahip değildirler. İşbu Portal Kullanım Koşulları d&acirc;hilinde &ldquo;UPARAZZİ&rdquo; tarafından sarahaten izin verilen durumlar haricinde &ldquo;UPARAZZİ&rdquo;nin telif haklarına tabi &ccedil;alışmalarını &ccedil;oğaltamaz, işleyemez, dağıtamaz veya bunlardan t&uuml;remiş &ccedil;alışmalar yapamaz.</strong></p>

            <ol start="8">
                <li><strong> &Uuml;YELİK S&Ouml;ZLEŞMESİ DEĞİŞİKLİKLERİ</strong></li>
            </ol>

            <p>&ldquo;UPARAZZİ&rdquo;, tamamen kendi takdirine bağlı ve tek taraflı olarak işbu &Uuml;yelik S&ouml;zleşmesini uygun g&ouml;receği herhangi bir zamanda portalda yayınlayarak değiştirebilir. İşbu &Uuml;yelik S&ouml;zleşmesinin değişen h&uuml;k&uuml;mleri, portalda yayınlandığı tarihte ge&ccedil;erlilik kazanarak y&uuml;r&uuml;rl&uuml;ğe girecek, geri kalan h&uuml;k&uuml;mler aynen y&uuml;r&uuml;rl&uuml;kte kalarak h&uuml;k&uuml;m ve sonu&ccedil;larını</strong></p>


            <p>doğurmaya devam edecektir. İşbu &Uuml;yelik S&ouml;zleşmesi, &uuml;yenin tek taraflı beyanları ile değiştirilemez.</strong></p>

            <ol start="9">
                <li><strong> M&Uuml;CBİR SEBEPLER</strong></li>
            </ol>

            <p>Hukuken m&uuml;cbir sebep sayılan t&uuml;m durumlarda, &ldquo;UPARAZZİ&rdquo; işbu &Uuml;yelik S&ouml;zleşmesi ile belirlenen edimlerinden herhangi birini ge&ccedil; veya eksik ifa etme veya ifa etmeme nedeniyle y&uuml;k&uuml;ml&uuml; değildir. Bu ve bunun gibi durumlar, &ldquo;UPARAZZİ&rdquo; i&ccedil;in, gecikme, eksik ifa etme veya ifa etmeme veya temerr&uuml;t addedilmeyecek veya bu durumlar i&ccedil;in &ldquo;UPARAZZİ&rdquo;den herhangi bir ad altında tazminat talep edilemeyecektir. M&uuml;cbir sebep terimi; doğal afet, isyan, savaş, grev, iletişim sorunları, altyapı ve internet arızaları, sisteme ilişkin iyileştirme veya yenileştirme &ccedil;alışmaları ve bu sebeple meydana gelebilecek arızalar, elektrik kesintisi ve k&ouml;t&uuml; hava koşulları da d&acirc;hil ve fakat bunlarla sınırlı olmamak kaydıyla ilgili tarafın makul kontrol&uuml; haricinde ve &ldquo;UPARAZZİ&rdquo;nin gerekli &ouml;zeni g&ouml;stermesine rağmen &ouml;nleyemediği ka&ccedil;ınılamayacak olaylar olarak yorumlanacaktır.</strong></p>

            <ol start="10">
                <li><strong> UYGULANACAK HUKUK VE YETKİ</strong></li>
            </ol>

            <p>İşbu &Uuml;yelik S&ouml;zleşmesinin uygulanmasında, yorumlanmasında ve işbu &Uuml;yelik S&ouml;zleşmesi d&acirc;hilinde doğan hukuki ilişkilerin y&ouml;netiminde yabancılık unsuru bulunması durumunda T&uuml;rk kanunlar ihtilafı kuralları hari&ccedil; olmak &uuml;zere doğrudan T&uuml;rk İ&ccedil; Hukuku uygulanacaktır. İşbu &Uuml;yelik S&ouml;zleşmesinden dolayı doğan veya doğabilecek her t&uuml;rl&uuml; ihtilafın hallinde İstanbul Anadolu Mahkemeleri ve İcra Daireleri yetkilidir.</strong></p>

            <ol start="11">
                <li><strong> &ldquo;UPARAZZİ&rdquo; KAYITLARININ GE&Ccedil;ERLİLİĞİ</strong></li>
            </ol>

            <p>&Uuml;ye, işbu &Uuml;yelik S&ouml;zleşmesinden doğabilecek ihtilaflarda &ldquo;UPARAZZİ&rdquo; kendi veri tabanında, sunucularında tuttuğu elektronik ve sistem kayıtlarının, ticari kayıtlarının, defter kayıtlarının, mikrofilm, mikrofiş ve bilgisayar kayıtlarının muteber bağlayıcı, kesin ve m&uuml;nhasır delil teşkil edeceğini, &ldquo;UPARAZZİ&rdquo; yemin teklifinden beri kıldığını ve bu maddenin HMK 193. Madde anlamında delil s&ouml;zleşmesi niteliğinde olduğunu kabul, beyan ve taahh&uuml;t eder.</strong></p>

            <ol start="12">
                <li><strong> Y&Uuml;R&Uuml;RL&Uuml;K</strong></li>
            </ol>

            <p>İşbu &Uuml;yelik S&ouml;zleşmesi ve &Uuml;yelik S&ouml;zleşmesiyle atıfta bulunulan ve &Uuml;yelik S&ouml;zleşmesinin ayrılmaz bir par&ccedil;ası olan ekler ile portal da yer alan kurallar ve şartlar, &uuml;yenin elektronik olarak onay vermesi ile elektronik ortamda akdedilerek y&uuml;r&uuml;rl&uuml;ğe girmiştir. &Uuml;yelik S&ouml;zleşmesinin herhangi bir h&uuml;km&uuml;n&uuml;n ge&ccedil;ersizliği, mevzuata aykırılığı veya uygulanabilir olmaması s&ouml;zleşmenin geri kalan h&uuml;k&uuml;mlerinin y&uuml;r&uuml;rl&uuml;ğ&uuml;n&uuml; etkilemeyecektir.</strong></p>

            <ol start="13">
                <li><strong> &Uuml;YELİK S&Ouml;ZLEŞMESİNİN EKLERİ</strong></li>
            </ol>

            <p>13.1 &Uuml;ye, &ldquo;<u>Ek-1 Kullanım Koşulları, Ek-2 Gizlilik Politikası, Ek-3 UPARAZZİ Hizmetleri Ek-4</u> <u>İlan Verilmesi,</u> ile portal da yayınlanan şartlar ve kuralların, işbu &uuml;yelik s&ouml;zleşmesinin eki ve ayrılmaz olduğunu, i&ccedil;eriklerini okuyup anladığını, &uuml;ye olarak &Uuml;yelik S&ouml;zleşmesi ile eklerine ve portal da yayınlanan şartlarla kurallara uygun davranacağını kayıtsız ve şartsız olarak</strong></p>



            <p>kabul&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ettiğini&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; beyan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; taahh&uuml;t&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; etmektedir.</p>


            <p><strong>EK - 1 KULLANIM KOŞULLARI</strong></p>

            <ol>
                <li><strong> KULLANIM KOŞULLARI</strong></li>
            </ol>

            <p>www.uparazzi.com.tr alan adlı internet sitesini kullanmak i&ccedil;in l&uuml;tfen aşağıda yazılı koşulları okuyunuz. www.uparazzi.com.tr internet sitesini (bundan b&ouml;yle Portal olarak anılacaktır) ziyaret ederek ve/veya &Uuml;ye olarak, işbu Kullanım Koşullarını okuduğunuzu, i&ccedil;eriğini tamamen anladığınızı, Kullanım Koşullarında belirtilen ve portal da bulunan ve zaman i&ccedil;inde yer alacak t&uuml;m hususları kayıtsız ve şartsız olarak kabul ettiğinizi, portal da belirtilen t&uuml;m hususlarla ilgili olarak herhangi bir itiraz ve defi ileri s&uuml;rmeyeceğinizi kabul, beyan ve taahh&uuml;t ediyorsunuz. Bu koşulları kabul etmediğiniz takdirde, l&uuml;tfen portalı kullanmaktan vazge&ccedil;iniz.</strong></p>

            <p>1.1. İşbu Portalın sahibi &ldquo;Soğanlık Yeni Mah. Baltacı Mehmet Paşa Sok. AC Moment Residence B Blok Daire: 87 Kartal/İstanbul&rdquo; adresinde mukim UPARAZZİ GAYRİMENKUL YATIRIM A.Ş.&rdquo;(UPARAZZİ) (bundan b&ouml;yle kısaca "UPARAZZİ" olarak anılacaktır)dir. Portal da sunulan ve işbu Kullanım Koşullarının 3. maddesinde belirtilen hizmetler, UPARAZZİ tarafından sağlanmaktadır.</strong></p>

            <p>1.2."UPARAZZİ" işbu &ldquo;Kullanım Koşullarını, Portal da yer alan her t&uuml;r bilgi ve i&ccedil;eriği, kullanıcıya herhangi bir ihbarda veya bildirimde bulunmadan dilediği zaman değiştirebilir. Bu değişiklikler periyodik olarak portal da yayımlanacak ve yayımlandığı tarihte ge&ccedil;erli olacaktır. Portal hizmetlerinden belirli bir bedel &ouml;deyerek ya da bedelsiz olarak yararlanan veya herhangi bir şekilde portala erişim sağlayan her ger&ccedil;ek veya t&uuml;zel kişi Kullanım Koşullarını ve "UPARAZZİ" tarafından işbu Kullanım Koşullarında yapılan her değişikliği kabul etmiş sayılmaktadır. İşbu Kullanım Koşulları internet sitesi &uuml;zerinden yayınlanarak; portalı kullanan her ger&ccedil;ek veya t&uuml;zel kişi tarafından erişimi m&uuml;mk&uuml;n kılınmıştır.</strong></p>

            <ol start="2">
                <li><strong> TANIMLAR</strong></li>
            </ol>

            <p>&ldquo;Portal&rdquo;: <u><a style="color:blue" href="https://www.uparazzi.com.tr/">www.uparazzi.com.tr</a></u> isimli alan adından ve bu alan adına bağlı alt alan adlarından oluşan "UPARAZZİ"nin hizmetlerini sunduğu internet sitesi.</strong></p>

            <p>&ldquo;Kullanıcı&rdquo;: Portala erişen her ger&ccedil;ek veya t&uuml;zel kişi.</strong></p>

            <p>&ldquo;&Uuml;ye&rdquo;: Portala &uuml;ye olan ve portal dahilinde sunulan hizmetlerden işbu s&ouml;zleşmede belirtilen koşullar dahilinde yararlanan &ldquo;Kullanıcı&rdquo;.</strong></p>

            <p>&ldquo;&Uuml;yelik&rdquo;: &Uuml;ye olmak isteyen kullanıcının, portaldaki &uuml;yelik formunu doğru ve ger&ccedil;ek bilgilerle doldurması, verdiği kimlik bilgilerinin "UPARAZZİ" tarafından onaylanması ve bildirimi ile kazanılan stat&uuml;d&uuml;r. &Uuml;yelik işlemleri tamamlanmadan &Uuml;ye olma hak ve yetkisine sahip olunamaz. &Uuml;yelik hak ve y&uuml;k&uuml;ml&uuml;l&uuml;kleri, başvuruda bulunana ait olan, kısmen veya tamamen herhangi bir &uuml;&ccedil;&uuml;nc&uuml; şahsa devredilemeyen hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerdir. &Uuml;yelik başvurusu herhangi bir sebep g&ouml;sterilmeksizin "UPARAZZİ" tarafından reddedilebilir veya ek şart ve koşullar talep edilebilir. "UPARAZZİ" gerekli g&ouml;rmesi halinde &uuml;yenin, &uuml;yelik</strong></p>


            <p>stat&uuml;s&uuml;n&uuml; sona erdirebilir, &uuml;yeliği herhangi bir sebeple sona erenin sonradan yapacağı &uuml;yelik başvurusunu kabul etmeyebilir.</strong></p>

            <p>"UPARAZZİ" &Uuml;yelik Hesabı": &Uuml;yenin portal i&ccedil;erisinde sunulan hizmetlerden yararlanmak i&ccedil;in gerekli olan iş ve işlemleri ger&ccedil;ekleştirdiği, &uuml;yelikle ilgili konularda "UPARAZZİ"ye talepte bulunduğu, &uuml;yelik bilgilerini g&uuml;ncelleyip, sunulan hizmetlerle ilgili raporlamaları g&ouml;r&uuml;nt&uuml;leyebildiği, kendisinin belirlediği ve m&uuml;nhasıran kendisi tarafından kullanılacağını taahh&uuml;t ettiği "kullanıcı adı" ve "şifre" ile "portal" &uuml;zerinden eriştiği &uuml;yeye &ouml;zel internet sayfaları b&uuml;t&uuml;n&uuml;.</strong></p>

            <p>"UPARAZZİ" Hizmetleri: Portal i&ccedil;erisinde &uuml;yenin işbu s&ouml;zleşme i&ccedil;erisinde tanımlı olan iş ve işlemlerini ger&ccedil;ekleştirmelerini sağlamak amacıyla "UPARAZZİ" tarafından sunulan uygulamalardır. "UPARAZZİ", portal i&ccedil;erisinde sunulan hizmetlerinde dilediği zaman değişiklikler ve/veya uyarlamalar yapabilir. Yapılan değişiklikler ve/veya uyarlamalarla ilgili &uuml;yenin uymakla y&uuml;k&uuml;ml&uuml; olduğu kural ve koşullar portaldan &uuml;yeye duyurulur, a&ccedil;ıklanan şartlar ve koşullar portalda yayımlandığı tarihte y&uuml;r&uuml;rl&uuml;ğe girer.</strong></p>

            <p>&ldquo;İ&ccedil;erik&rdquo;: Portalda yayınlanan ve erişimi m&uuml;mk&uuml;n olan her t&uuml;rl&uuml; bilgi, yazı, dosya, resim, video, rakam vb. g&ouml;rsel, yazımsal ve işitsel imgeler.</strong></p>

            <p>"UPARAZZİ" Aray&uuml;z&uuml;" : "UPARAZZİ" ve &uuml;yeler tarafından oluşturulan i&ccedil;eriğin kullanıcılar tarafından g&ouml;r&uuml;nt&uuml;lenebilmesi ve "UPARAZZİ" veri tabanından sorgulanabilmesi amacıyla kullanıcılar tarafından kullanılan; 5846 Sayılı Fikir ve Sanat Eserleri Kanunu kapsamında korunan ve t&uuml;m fikri hakları "UPARAZZİ"ye ait olan tasarımlar i&ccedil;erisinde portal &uuml;zerinden yapılabilecek her t&uuml;rl&uuml; işlemin ger&ccedil;ekleştirilmesi i&ccedil;in bilgisayar programına komut veren internet sayfaları.</strong></p>

            <p>"UPARAZZİ" Veri tabanı: Portal dahilinde erişilen i&ccedil;eriklerin depolandığı, tasnif edildiği, sorgulanabildiği ve erişilebildiği "UPARAZZİ"ye ait olan 5846 Sayılı Fikir ve Sanat Eserleri Kanunu gereğince korunan veri tabanıdır.</strong></p>

            <ol start="3">
                <li><strong> "UPARAZZİ" HİZMETLERİ</strong></li>
            </ol>

            <p>3.1. "UPARAZZİ", &Uuml;yeler tarafından "UPARAZZİ" veri tabanına y&uuml;klenen i&ccedil;eriklerin, ara y&uuml;zler kullanılmak suretiyle "UPARAZZİ" veri tabanı" &uuml;zerinden kullanıcılar tarafından g&ouml;r&uuml;nt&uuml;lenebilmesini temin etmektedir.</strong></p>

            <p>3.2. "UPARAZZİ", Portal i&ccedil;erisinde kullanıcıların, &uuml;ye ilanlarına daha kolay ulaşabilmelerini sağlamak &uuml;zere ilanların g&ouml;r&uuml;nt&uuml;lenmesini &ouml;nceliklendiren &ccedil;eşitli tiplerde listeleme hizmetleri vermektedir.</strong></p>

            <p>3.3. "UPARAZZİ", Portal dahilinde ger&ccedil;ekleştirilen işlemlere, g&ouml;r&uuml;nt&uuml;leme sayılarına y&ouml;nelik &ccedil;eşitli kategoriler altında raporlama hizmetlerini sunmaktadır.</strong></p>

            <p>3.4. "UPARAZZİ", Portal dahilinde verdiği hizmetlere yenilerini ekleme, mevcut hizmetlerin kapsam ve sunulma koşulları ile portal dahilinde erişilen i&ccedil;erikleri her zaman değiştirme,</strong></p>



            <p>&uuml;&ccedil;&uuml;nc&uuml; kişilerin erişimine kapatabilme ve silme hakkını saklı tutmaktadır. "UPARAZZİ", bu hakkını hi&ccedil;bir bildirimde bulunmadan ve &ouml;nel vermeden dilediği bi&ccedil;imde kullanabilir.</strong></p>



            <ol start="4">
                <li><strong> "UPARAZZİ" PORTALI KULLANIMINA İLİŞKİN KOŞULLAR VE Y&Uuml;K&Uuml;ML&Uuml;L&Uuml;KLER</strong></li>
            </ol>

            <p>4.1. Kullanıcılar hukuka uygun ama&ccedil;larla portal &uuml;zerinde işlem yapabilirler. Kullanıcıların portal dahilinde yaptığı her işlem ve eylemdeki hukuki ve cezai sorumluluk kendilerine ait olacak olup, s&ouml;z konusu hukuki ve cezai y&uuml;k&uuml;ml&uuml;l&uuml;klerle ilgili "UPARAZZİ" nin herhangi bir sorumluluğu bulunmadığını kullanıcı kabul, beyan ve taahh&uuml;t etmektedir.</strong></p>

            <p>4.2. Portal, &uuml;yeler tarafından "UPARAZZİ" veri tabanına y&uuml;klenen i&ccedil;eriklerin g&ouml;r&uuml;nt&uuml;lenmesi esasıyla &ccedil;alışmaktadır. "UPARAZZİ", kullanıcılar tarafından g&ouml;r&uuml;nt&uuml;lenen ilan ve i&ccedil;eriklerin hi&ccedil;bir koşulda doğruluğunu, ger&ccedil;ekliği, g&uuml;venliğini ve hukuka uygunluğunu garanti etmemektedir. S&ouml;z konusu ilan ve i&ccedil;erikler dolayısıyla "UPARAZZİ"nin herhangi bir sorumluluğu bulunmadığını, ortaya &ccedil;ıkabilecek zararlardan &ouml;t&uuml;r&uuml; "UPARAZZİ&rdquo;nin hi&ccedil;bir tazmin y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; olmayacağını kullanıcılar kabul ve beyan etmektedir.</strong></p>

            <p>4.3. Kullanıcı portal d&acirc;hilinde bulunan her t&uuml;rl&uuml; resimleri, metinleri, g&ouml;rsel ve işitsel imgeleri, video klipleri, dosyaları, veri tabanlarını, katalogları ve listeleri kopyalamayacağını, dağıtmayacağını, işlemeyeceğini, gerek bu eylemleri ile gerekse de başka yollarla "UPARAZZİ" ile doğrudan ve/veya dolaylı olarak rekabete girmeyeceğini, izni ve yetkisi olmayan başka ama&ccedil;larla kullanımda bulunmayacağını, kendisine ya da başka bir kişiye ait veri tabanı, kayıt veya rehber yaratmak i&ccedil;in kullanmayacağını, ticari ama&ccedil;larla kullanmayacağını kabul ve taahh&uuml;t etmektedir.</strong></p>

            <p>4.4.Kullanıcılar portal d&acirc;hilinde T&uuml;rk Ticaret Kanunu h&uuml;k&uuml;mleri uyarınca haksız rekabete yol a&ccedil;acak faaliyetlerde bulunmayacağını, "UPARAZZİ"nin ve &uuml;&ccedil;&uuml;nc&uuml; kişilerin şahsi ve ticari itibarı sarsacak, kişilik haklarına tecav&uuml;z veya taarruz edecek fiilleri ger&ccedil;ekleştirmeyeceğini, mevzuata, kamu d&uuml;zenine ve genel ahlak kurallarına uygun hareket edeceğini, mevzuatın gerektirdiği &ouml;nlemleri alacağını ve prosed&uuml;rleri yerine getireceğini, yasadışı, su&ccedil; teşkil edecek, rahatsız edici, kişilik haklarına zarar verici, eşitlik haklarına, fikri haklara, telif haklarına, marka haklarına ve m&uuml;lkiyet haklarına tecav&uuml;z edici tutum ve davranışlarda bulunmayacağını kabul ve taahh&uuml;t etmektedir.</strong></p>

            <p>4.5. Kullanıcılar, portal dahilinde eriştikleri bilgileri yalnızca bu bilgileri ifşa eden &uuml;ye veya "UPARAZZİ" nin amacına uygun olarak kullanmakla, ticari olmayan ama&ccedil;la g&ouml;r&uuml;nt&uuml;lemekle y&uuml;k&uuml;ml&uuml;d&uuml;r. İlan veren &Uuml;ye tarafından girilmiş bulunan ilanlardaki iletişim bilgileri sadece ilan hakkında bilgi almak i&ccedil;in iletişim kurulması amacıyla kullanılabilir. İlanda yer alabilecek 6698 sayılı Kişisel Verilerin Korunması Hakkında Kanun kapsamında koruma altında olan ilan verene ait veya &uuml;&ccedil;&uuml;nc&uuml; kişilere ait kişisel veriler ve/veya &ouml;zel nitelikli kişisel veriler, başkaca bir ama&ccedil;la kullanılamaz, kopyalanamaz, başka mecralarda doğrudan veya dolaylı olarak yayınlanamaz, işlenemez, dağıtılamaz, başkaca veri tabanlarına aktarılarak &uuml;&ccedil;&uuml;nc&uuml; kişilerin erişimine ve kullanımına a&ccedil;ılamaz.</strong></p>





            <p>4.6. "UPARAZZİ", kullanıcı bilgilerini kullanabilir, işleyebilir, paylaşabilir, ifşa edebilir, bir veri tabanı &uuml;zerinde tasnif edip muhafaza edebilir, tanıtım ve bilgilendirme ama&ccedil;lı iletişim faaliyetlerinde, pazarlama faaliyetlerinde ve istatistik&icirc; analizler yapmak amacıyla kullanabilir. "UPARAZZİ" aynı zamanda; kullanıcının IP adresi, portalın hangi b&ouml;l&uuml;mlerini ziyaret ettiği, domain tipi, tarayıcı (browser) tipi, tarih ve saat gibi bilgileri de istatistiki değerlendirme ve kişiye y&ouml;nelik hizmetler ve teklifler sunma gibi ama&ccedil;larla kullanabilir. "UPARAZZİ" s&uuml;re&ccedil;lerini iyileştirme ama&ccedil;lı araştırmalar yapmak, veri tabanı oluşturmak ve pazar araştırmaları yapmak i&ccedil;in işbirliği i&ccedil;inde olduğu firmalara Kullanıcı bilgilerini aktarabilir ve bu firmalar tarafından yukarıda sayılı ama&ccedil;larla sınırlı olarak Kullanıcı bilgileri işlenebilir.</strong></p>

            <p>4.7. "UPARAZZİ", &ccedil;evrimi&ccedil;i davranışsal reklamcılık ve pazarlama yapılabilmesi amacıyla siteye gelen kullanıcının sitedeki davranışlarını tarayıcıda bulunan bir cookie (&ccedil;erez) ile ilişkilendirme ve g&ouml;r&uuml;nt&uuml;lenen sayfa sayısı, ziyaret s&uuml;resi ve hedef tamamlama sayısı gibi metrikleri temel alan yeniden pazarlama listeleri tanımlama, pazarlama otomasyon ara&ccedil;larını kullanma ve kullanıcıya &ouml;zel mesaj/teklif ve &ouml;neriler iletme hakkını haizdir. Daha sonra bu kullanıcıya sitede ya da G&ouml;r&uuml;nt&uuml;l&uuml; Reklam Ağındaki diğer sitelerde, kullanıcıların ilgi alanlarına g&ouml;re hedefe y&ouml;nelik reklam i&ccedil;eriği g&ouml;sterebilir. Ayrıca Google, AFS reklamlarının "UPARAZZİ"ye y&ouml;nlendirilmesi esnasında Google KULLANICILARIN tarayıcısına &ccedil;erez yerleştirebilir veya bunlarda yer alan &ccedil;erezleri okuyabilir veya bilgi toplamak amacı ile web işaretleri kullanabilir.</strong></p>

            <p>4.8. Portal &uuml;zerinden erişilen ve/veya g&ouml;r&uuml;nt&uuml;lenen i&ccedil;eriğin depolandığı veri tabanına yalnızca ilgili i&ccedil;eriklerin g&ouml;r&uuml;nt&uuml;lenmesi amacıyla ve/veya "UPARAZZİ"nin Kullanım Koşulları &ccedil;er&ccedil;evesinde &uuml;&ccedil;&uuml;nc&uuml; kişilerce erişilmesi hukuka uygundur. Bunun dışındaki yapılan erişimler hukuka aykırı olup; "UPARAZZİ"nin her t&uuml;r talep, dava ve takip hakları saklıdır.</strong></p>

            <p>4.9. "UPARAZZİ", ilanların i&ccedil;eriklerini &ouml;ğrenme amacıyla g&ouml;r&uuml;nt&uuml;lemeye ve "UPARAZZİ" ara y&uuml;z&uuml;n&uuml; kullanmaya izin vermekte olup, bunun dışında bir ama&ccedil;la veri tabanı &uuml;zerinden belirli bir sayıda veya b&uuml;t&uuml;n&uuml;ne y&ouml;nelik olarak ilanlara ulaşılmaya &ccedil;alışılması, ilanların, m&uuml;şteri bilgilerinin, tasarımlarının, kod ve yazılımlarının, veri tabanında yer alan bilgilerinin kısmen veya tamamen kopyalanması, bunların başka mecralarda doğrudan veya dolaylı olarak yayınlanması, derlenmesi, işlenmesi, değiştirilmesi, başka veri tabanlarına aktarılması, bu veri tabanından &uuml;&ccedil;&uuml;nc&uuml; kişilerin erişimine ve kullanımına a&ccedil;ılması, "UPARAZZİ" &uuml;zerindeki ilanlara link verilmesi de d&acirc;hil olmak &uuml;zere benzer fiillerin işlenmesine "UPARAZZİ" tarafından izin verilmemekte ve rıza g&ouml;sterilmemektedir. Bu t&uuml;r fiiller hukuka aykırı olup; "UPARAZZİ"nin talep, dava ve takip hakları saklıdır.</strong></p>

            <p>4.10.Portalın b&uuml;t&uuml;n&uuml;n&uuml;n veya herhangi bir b&ouml;l&uuml;m&uuml;n&uuml;n bozma, değiştirme, tersine m&uuml;hendislik yapma amacıyla kullanılması, portalın iletişim veya teknik sistemleri engelleyen, bozan ya da sistemlere m&uuml;dahale eder bir şekilde siteye erişim sağlanmaya &ccedil;alışılması, Site &uuml;zerinde otomatik program, robot, &ouml;r&uuml;mcek, web crawler, &ouml;r&uuml;mcek, veri madenciliği (data mining) veri taraması (data trawling) vb. "screen scraping" yazılımları veya sistemleri, otomatik aletler ya da manuel s&uuml;re&ccedil;ler kullanılması, diğer kullanıcılarının verilerine veya yazılımlarına izinsiz olarak ulaşılması, sitenin ve portaldaki i&ccedil;eriğin Kullanım Koşulları ile belirlenen kullanım sınırları dışında kullanılması hukuka aykırı olup; "UPARAZZİ"nin her t&uuml;r talep, dava ve takip hakları saklıdır. İşbu şartlara ve yasalara aykırı kullanımın tespiti halinde;</strong></p>



            <p>"UPARAZZİ", kullanıcıyı yetkili makamlara bildirme hakkına sahiptir. Kullanıcı bu t&uuml;r kullanımlar sonucu oluşan zarar ve taleplerden bizzat sorumlu olduğunu kabul etmektedir.</strong></p>

            <p>4.11. Portal da verilen hizmetin kesintiye uğraması, bilgi iletiminde aksaklıklar, gecikmeler, başarısızlar yaşanması, veri kaybı halinde oluşabilecek her t&uuml;rl&uuml; doğrudan ve dolaylı zararlardan "UPARAZZİ"nin sorumlu tutulamayacağını kullanıcı kabul ve taahh&uuml;t etmektedir.</strong></p>

            <ol start="5">
                <li><strong> FİKRİ M&Uuml;LKİYET HAKLARI</strong></li>
            </ol>

            <p>Bu portal dahilinde erişilen veya hukuka uygun olarak kullanıcılar tarafından sağlanan bilgiler ve bu portalın (sınırlı olmamak kaydıyla "UPARAZZİ" veri tabanı, "UPARAZZİ" ara y&uuml;z&uuml;, tasarım, metin, imge, html kodu ve diğer kodlar) t&uuml;m elemanları (hepsi birlikte "UPARAZZİ"nin telif haklarına tabi &ccedil;alışmaları&rdquo; olarak anılacaktır) "UPARAZZİ"ye ait ve/veya "UPARAZZİ" tarafından &uuml;&ccedil;&uuml;nc&uuml; bir kişiden lisans altında alınmıştır. Kullanıcılar, "UPARAZZİ" hizmetlerini, "UPARAZZİ" bilgilerini ve "UPARAZZİ"nin telif haklarına tabi &ccedil;alışmalarını yeniden satmak, işlemek, kopyalamak, paylaşmak, dağıtmak, sergilemek veya başkasının "UPARAZZİ"nin hizmetlerine erişmesi veya kullanmasına izin vermek hakkına sahip değildirler. İşbu Site Kullanım Koşulları dahilinde "UPARAZZİ" tarafından sarahaten izin verilen durumlar haricinde "UPARAZZİ"nin telif haklarına tabi &ccedil;alışmalarını &ccedil;oğaltamaz, işleyemez, dağıtamaz veya bunlardan t&uuml;remiş &ccedil;alışmalar yapamaz.</strong></p>

            <p>İşbu Kullanım Koşulları dahilinde "UPARAZZİ" tarafından sarahaten yetki verilmediği hallerde "UPARAZZİ"; "UPARAZZİ" hizmetleri, "UPARAZZİ" bilgileri, "UPARAZZİ" telif haklarına tabi &ccedil;alışmaları, "UPARAZZİ" ticari markaları, "UPARAZZİ" ticari g&ouml;r&uuml;n&uuml;m&uuml; veya bu site vasıtasıyla sağladığı başkaca varlık ve bilgilere y&ouml;nelik t&uuml;m haklarını saklı tutmaktadır.</strong></p>

            <ol start="6">
                <li><strong> KULLANIM KOŞULLARINDA DEĞİŞİKLİKLER</strong></li>
            </ol>

            <p>"UPARAZZİ", dilediğinde, tek taraflı olarak işbu Kullanım Koşullarını herhangi bir zamanda portal da ilan ederek değiştirebilir. İşbu Kullanım Koşullarının değişen h&uuml;k&uuml;mleri, ilan edildikleri tarihte ge&ccedil;erlilik kazanarak, y&uuml;r&uuml;rl&uuml;ğe girecektir. İşbu Kullanım Koşulları kullanıcının tek taraflı beyanları ile değiştirilemez.</strong></p>

            <ol start="7">
                <li><strong> M&Uuml;CBİR SEBEPLER</strong></li>
            </ol>

            <p>Hukuken m&uuml;cbir sebep sayılan t&uuml;m durumlarda, ge&ccedil; ifa etme, eksik ifa etme veya ifa etmeme hallerinde "UPARAZZİ"nin herhangi bir tazminat y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; doğmayacaktır. M&uuml;cbir sebep, ilgili tarafın makul kontrol&uuml; haricinde ve "UPARAZZİ"nin gerekli &ouml;zeni g&ouml;stermesine rağmen &ouml;nleyemediği olaylar olarak yorumlanacak olup, sayılanlarla sınırlı olmamak şartıyla doğal afet, savaş, yangın, grev, ayaklanma, isyan, k&ouml;t&uuml; hava koşulları, altyapı ve internet arızaları, sisteme ilişkin iyileştirme veya yenileştirme &ccedil;alışmaları ve bu sebeple meydana gelebilecek her t&uuml;rl&uuml; arıza, elektrik kesintisi m&uuml;cbir sebep hallerindendir.</strong></p>







            <ol start="8">
                <li><strong> UYGULANACAK HUKUK VE YETKİ</strong></li>
            </ol>

            <p>İşbu Kullanım Koşulları uygulanmasında, yorumlanmasında ve bu Kullanım Koşulları dahilinde doğan hukuki ilişkilerin y&ouml;netiminde yabancılık unsuru bulunması durumunda T&uuml;rk kanunlar ihtilafı kuralları hari&ccedil; olmak &uuml;zere T&uuml;rk Hukuku uygulanacaktır. İşbu Kullanım Koşullarından dolayı doğan veya doğabilecek her t&uuml;rl&uuml; ihtilafın hallinde İstanbul Anadolu Mahkemeleri ve İcra Daireleri yetkilidir.</strong></p>

            <ol start="9">
                <li><strong> Y&Uuml;R&Uuml;RL&Uuml;K ve KABUL</strong></li>
            </ol>

            <p>İşbu Kullanım Koşulları "UPARAZZİ" tarafından portal da yayınlandığı tarihte y&uuml;r&uuml;rl&uuml;ğe girer. Kullanıcılar işbu Kullanım Koşullarını ve zaman i&ccedil;inde yapılan değişiklikleri portalı kullanmakla kabul etmiş olmaktadırlar.</strong></p>

            <p><strong>Ek - 2 GİZLİLİK POLİTİKASI</strong></p>

            <p>İşbu Gizlilik Politikasının amacı, UPARAZZİ GAYRİMENKUL YATIRIM A.Ş.&rdquo;(UPARAZZİ) tarafından y&ouml;netilmekte olan www.uparazzi.com.tr adresinde yer alan web sitesinin, (&ldquo;Portal&rdquo;) kullanımına ilişkin koşul ve şartları tespit etmektir. İşbu Gizlilik Politikasında tanımlanmayan ifadelerin yorumlanmasında Kullanım ve &Uuml;yelik S&ouml;zleşmesi&rsquo;ndeki tanımlar dikkate alınacaktır. Kullanıcılar, &Uuml;yelik S&ouml;zleşmesini kabul etmeleri &uuml;zerine işbu Gizlilik Politikasını da kabul etmiş sayılacaktır.</strong></p>

            <p>Kurumsal &Uuml;yeler, davet edecekleri Alt Kullanıcıların işbu Gizlilik Politikası h&uuml;k&uuml;mlerini bizzat onaylamaları gerektiğini kabul etmektedir. Bu doğrultuda Kurumsal &Uuml;ye belirleyeceği her Alt Kullanıcıdan:</strong></p>

            <ul>
                <li>Onay alınacağını,</strong></li>
            </ul>
            <ul>
                <li>Onay alınmazsa, Alt Kullanıcının Portalı kullanamayacağını,</strong></li>
            </ul>
            <ul>
                <li>Her bir Alt Kullanıcı i&ccedil;in ayrı ayrı onay alınacağını taahh&uuml;t eder.</strong></li>
            </ul>

            <p>Uparazzi, teknolojiye yatırım yaparak yenilik&ccedil;i &uuml;r&uuml;n ve hizmet uygulamaları ile internet alanında Kullanıcılarına daha iyi hizmet vermek i&ccedil;in s&uuml;rekli kendisini yenilemekte ve en iyi hizmeti verebilmek i&ccedil;in &ccedil;alışmaktadır.</strong></p>

            <p>Uparazzi, &ccedil;evrimi&ccedil;i davranışsal reklamcılık ve pazarlama yapılabilmesi amacıyla siteye gelen Kullanıcının &uuml;ye olmasalar dahi sitedeki davranışlarını tarayıcıda bulunan bir cookie (&ccedil;erez) ile ilişkilendirme ve g&ouml;r&uuml;nt&uuml;lenen sayfa sayısı, ziyaret s&uuml;resi ve hedef tamamlama sayısı gibi metrikleri temel alan yeniden pazarlama listeleri tanımlama hakkını haizdir. Daha sonra bu Kullanıcıya sitede ya da G&ouml;r&uuml;nt&uuml;l&uuml; Reklam Ağındaki diğer sitelerde, Kullanıcıların ilgi alanlarına g&ouml;re hedefe y&ouml;nelik reklam i&ccedil;eriği g&ouml;sterilebilir.</strong></p>

            <p>Google AFS reklamlarının Uparazzi&rsquo;ye y&ouml;nlendirilmesi esnasında Google kullanıcıların tarayıcısına &ccedil;erez yerleştirebilir veya bunlarda yer alan &ccedil;erezleri okuyabilir veya bilgi toplamak amacı ile web işaretleri kullanabilir.</strong></p>


            <p>Gizlilik Politikası &Uuml;zerinde Ger&ccedil;ekleşecek Olan Değişiklikler</p>

            <p>Uparazzi, işbu Gizlilik Politikası h&uuml;k&uuml;mlerini dilediği zaman Portal &uuml;zerinden yayımlamak suretiyle g&uuml;ncelleyebilir ve değiştirebilir. Uparazzi&rsquo;nin Gizlilik Politikasında yaptığı g&uuml;ncelleme ve değişiklikler portal da yayınlandığı tarihten itibaren ge&ccedil;erli olacaktır.</strong></p>

            <p>Kullanıcı, işbu Gizlilik Politikasına konu bilgilerinin tam, doğru ve g&uuml;ncel olduğunu, bu bilgilerde herhangi bir değişiklik olması halinde bunları derhal <u>www.uparazzi.com.tr</u> adresinden g&uuml;ncelleyeceğini taahh&uuml;t eder. Kullanıcının g&uuml;ncel bilgileri sağlamamış olması halinde Uparazzi&rsquo;nin herhangi bir sorumluluğu olmayacaktır.</strong></p>

            <p><strong>Ek - 3 UPARAZZİ HİZMETLERİ</strong></p>

            <p>UPARAZZİ; aşağıda bahsedilen hizmetler ile zaman i&ccedil;inde uygulamaya ge&ccedil;ireceği diğer hizmetleri ile ilgili olarak, dilediği zamanda kullanıcıya/&uuml;yeye herhangi bir ihbarda veya bildirimde bulunmadan, &ldquo;fiyat&rdquo; ve/veya &ldquo;kural&rdquo; ve/veya &ldquo;i&ccedil;erik&rdquo; değişikliği yapabilir. UPARAZZİ&rsquo;nin hizmetleri ile ilgili yaptığı değişiklikler portal da yayımlandığı tarih itibariyle ge&ccedil;erli olacaktır. Portala erişim sağlayan her ger&ccedil;ek veya t&uuml;zel kişi UPARAZZİ tarafından yapılan t&uuml;m değişiklikleri kabul etmiş sayılır.</strong></p>

            <ol>
                <li><strong> UPARAZZİ İLAN HİZMETLERİ</strong></li>
            </ol>

            <p>1.1. &Uuml;ye, UPARAZZİ &Uuml;yelik Hesabı &uuml;zerinden UPARAZZİ tarafından belirlenen kurallara uygun olarak ilanlarını yaratacak ve UPARAZZİ Veri tabanına y&uuml;kleyecektir.</strong></p>

            <p>1.2 UPARAZZİ, &uuml;ye tarafından oluşturulan ilan/ilanları değerlendirmeye alacak; bahsi ge&ccedil;en ilanların portal da yayınlanmasını kabul veya reddedecektir. UPARAZZİ ilanların değerlendirmesine y&ouml;nelik kriterleri, koşulları ve s&uuml;releri serbest&ccedil;e tayin ve tespit ederek, portal da yayınlayacaktır.</strong></p>

            <p>1.3 UPARAZZİ, portal da yayınlanan ilanların hukuka ve ahlaka aykırı olması, başkalarının şahsi ve ticari haklarına tecav&uuml;z edici nitelik taşıması veya bu y&ouml;nde yapılan ihtarlara muhatap olması veya işbu s&ouml;zleşme ve portal da yer alan kural ve koşullara doğrudan veya dolaylı olarak aykırı olması gibi sebeplerle &uuml;yeye herhangi bir ihtarda bulunmadan ilgili ilanının yayınını ge&ccedil;ici veya s&uuml;rekli olarak durdurabilir. UPARAZZİ bahsi ge&ccedil;en duruma ilişkin &uuml;yeye herhangi bir geri &ouml;demede bulunmayacağını, aynı şekilde &uuml;yede &ouml;demiş olduğu bedelin iadesini UPARAZZİ&rsquo;den talep ve dava etmeyeceğini kabul, beyan ve taahh&uuml;t eder.</strong></p>

            <p>1.4 UPARAZZİ, &uuml;yenin ilanlarının ve ilan i&ccedil;erisindeki metin, resim ve i&ccedil;eriklerin başka sitelerde, arama motorlarında ve UPARAZZİ ilan ve reklamlarında g&ouml;r&uuml;nt&uuml;lenebilmesi i&ccedil;in &uuml;&ccedil;&uuml;nc&uuml; kişilerle anlaşma yapabilir.</strong></p>

            <p>1.5 &Uuml;ye, UPARAZZİ &Uuml;yelik Hesabı &uuml;zerinden yaptığı her t&uuml;rl&uuml; iş ve işlemin sorumluluğunun kendisine ait olduğunu; burada ger&ccedil;ekleştirilen iş ve işlemleri kendisinin ger&ccedil;ekleştirmediği</strong></p>


            <p>yolunda herhangi bir def&rsquo;i ve/veya itiraz ileri s&uuml;remeyeceğini ve/veya bu def&rsquo;i veya itiraza dayanarak y&uuml;k&uuml;ml&uuml;l&uuml;klerini yerine getirmekten ka&ccedil;ınmayacağını kabul, beyan ve taahh&uuml;t eder.</strong></p>

            <p>1.6 &Uuml;ye, portal da yayınlayacağı ilanlarda karalama, k&ouml;t&uuml;leme, ticari iftira atma, tehdit veya taciz etme gibi hukuka aykırı her t&uuml;rl&uuml; fiili ger&ccedil;ekleştirmeyeceğini, portalın altyapısını gerek&ccedil;esiz ya da aşırı derecede y&uuml;k getirecek girişimlerde ve eylemlerde bulunmayacağını, y&uuml;z kızartıcı, pornografik veya ahlaka aykırı i&ccedil;erikli metinlerin ve g&ouml;rsellerin portal da yayınlanacak reklamlarda yer almasına izin vermeyeceğini kabul, beyan ve taahh&uuml;t eder.</strong></p>

            <p>1.7 &Uuml;ye, portal da yayınlattığı ilanlarda ger&ccedil;ek, doğru ve hukuka uygun bilgilerle mal ve hizmetlerinin reklam ve tanıtımını yapacaktır. &Uuml;yenin hukuken &uuml;zerinde ilanında belirttiği şekilde tasarruf yetkisi olmayan, mal ve hizmetlere ilişkin ilan vermesi yasaktır. Bu kapsamda ilan veren &uuml;yeler i&ccedil;in UPARAZZİ, &uuml;yeye herhangi bir ihtarda bulunmaya gerek olmadan &uuml;yeliğini askıya alabilir, &uuml;yelikten &ccedil;ıkarabilir, &uuml;yelikten ge&ccedil;ici bir s&uuml;re uzaklaştırabilir, işbu s&ouml;zleşmeyi herhangi bir geri &ouml;deme y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; olmadan tek taraflı olarak feshedebilir.</strong></p>

            <p>1.8 &Uuml;ye, t&uuml;keticinin korunması, fikri haklar, eşitlik, insan hakları, haksız rekabet, reklam konularını d&uuml;zenleyenler dahil ancak bunlarla sınırlı olmaksızın herhangi bir mevzuata aykırı ilan vermeyeceğini ve ilanlarında bu mevzuatlara aykırı beyanların; resim, video gibi g&ouml;rsellerin bulunmayacağını kabul, beyan ve taahh&uuml;t eder.</strong></p>

            <p>1.9 &Uuml;ye, kendisine ait ilanlarını portalın mağazalar b&ouml;l&uuml;m&uuml;nde detaylı olarak a&ccedil;ıklandığı ve sınırları belirtildiği &uuml;zere, kendisine ait bir b&ouml;l&uuml;mde, kendisi tarafından belirlenen i&ccedil;erik ve bilgilerle birlikte portal &uuml;zerinden yayınlayabilir.</strong></p>

            <p>1.10 Portalı kullanan ger&ccedil;ek veya t&uuml;zel kişiler, portal da sadece bir &uuml;yelik hesabı a&ccedil;abilirler. Bu ama&ccedil;la kullanıcılar; farklı kullanıcı adları, e-posta adresleri, telefon numaraları kullanarak birden fazla UPARAZZİ &Uuml;yelik Hesabı a&ccedil;mamayı kabul, beyan ve taahh&uuml;t etmektedir. Bu kuralın ihlal edildiğinin UPARAZZİ tarafından tespit edilmesi halinde; &uuml;yenin t&uuml;m UPARAZZİ &Uuml;yelik Hesapları, UPARAZZİ tarafından durdurulabilir veya askıya alınabilir veya bu &uuml;ye &uuml;yelikten &ccedil;ıkarılabilir. Herhangi bir sebeple &uuml;yelikten &ccedil;ıkarılmış veya &uuml;yeliği durdurulmuş veya &uuml;yeliği askıya alınmış kullanıcının portala girmek i&ccedil;in yeni &uuml;yelik hesabı a&ccedil;ması ve bu yeni &uuml;yeliğinin UPARAZZİ tarafından tespit edilmesi halinde; bu kullanıcının t&uuml;m UPARAZZİ &Uuml;yelik Hesaplarını, herhangi bir ihtara gerek olmaksızın iptal etme ve işbu s&ouml;zleşmeyi herhangi bir &uuml;cret iade, tazminat veya cezai şart y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; olmadan tek taraflı olarak feshetme hakkını UPARAZZİ saklı tutmaktadır.</strong></p>
            <p>1.11 "Üye", seçmiş olduğu kategoriye ilişkin  ücreti ödemeyi  kabul, beyan ve taahhüt eder.</p>
            <ol start="2">
                <li><strong> LİSTELEME HİZMETLERİ</strong></li>
            </ol>

            <p>2.1 Bu hizmet &uuml;yelerin UPARAZZİ &Uuml;yelik Hesabı &uuml;zerinden girmiş oldukları ilan i&ccedil;eriklerinin UPARAZZİ portalında yer alan kategoriler altında g&ouml;r&uuml;nt&uuml;lenmesinin sağlanmasıdır. Listeleme; UPARAZZİ portalının dinamik alt yapısı &uuml;zerinden kullanıcıların ilgili kategoriler altında &ouml;zelleştirdikleri sorguları doğrultusunda &uuml;yelere ait ilanların kullanıcı tarafından UPARAZZİ tarafından belirlenen sıra dahilinde UPARAZZİ ara y&uuml;z&uuml; &uuml;zerinden g&ouml;r&uuml;nt&uuml;lenmesidir. Listeleme; UPARAZZİ veri tabanına gelen sorguların UPARAZZİ veri</strong></p>



            <p>tabanı &uuml;zerinde &ccedil;alışan bilgisayar programının d&ouml;neceği otomatik yanıtların kullanıcıya g&ouml;sterilmesi esasına dayanır.</strong></p>

            <p>2.2 İlanlarının hangi kategori altında g&ouml;r&uuml;nt&uuml;leneceğini(n) se&ccedil;imi &ouml;ncelikle &uuml;yeye aittir. &uuml;yenin belirlediği kategorinin ilanının konusuyla ilişkili olmaması durumunda UPARAZZİ ilgili ilanının konusuyla ilişkili olan kategori altında g&ouml;r&uuml;nt&uuml;lenmesini &uuml;yeye herhangi bir bildirimde bulunmadan sağlayabilir.</p>

            <p><strong>Ek - 4 İLAN VERME KURALLARI</strong></p>

            <p>Aşağıda belirtilen &ldquo;İlan Verme Kuralları&rdquo; hem bireysel hem kurumsal &uuml;yelerimiz i&ccedil;in ge&ccedil;erlidir. İlan girişinde bulunan &uuml;ye, ilan verme kurallarına ve &uuml;yelik s&ouml;zleşmesinde belirtilen kurallara uymayı kabul ve taahh&uuml;t etmiş sayılır. İş bu s&ouml;zleşme kapsamında portal &uuml;zerinde yalnızca arsa/arazi ilanı girilebilir, bunun haricinde kalan taşınır ya da taşınmaz &uuml;r&uuml;nlerin, hisseli yerlerin ve sit alanlarının ilanlarının girilmesi yasaktır. İş bu madde h&uuml;km&uuml;ne uymayıp yasaklı &uuml;r&uuml;nler hakkında ilan veren &uuml;yeler, 3. Şahısların uğrayabileceği zararlardan sorumlu olup, UPARAZZİ tarafından yasaklı &uuml;r&uuml;n ilanı verildiğinin tespit edilmesi halinde de, ilgili ilanı derhal kaldırma ve &uuml;yenin &uuml;yelik s&ouml;zleşmesini feshetme yetkisi bulunmaktadır.</p>

            <p>Kullanıcılar, portal dahilinde eriştikleri bilgileri yalnızca bu bilgileri ifşa eden &uuml;ye veya UPARAZZİ&rsquo;nin amacına uygun olarak kullanmakla, ticari olmayan ama&ccedil;la g&ouml;r&uuml;nt&uuml;lemekle y&uuml;k&uuml;ml&uuml;d&uuml;r. İlan veren &uuml;ye tarafından girilmiş bulunan ilanlardaki iletişim bilgileri sadece ilan hakkında bilgi almak i&ccedil;in iletişim kurulması amacıyla kullanılabilir. İlanda yer alabilecek 6698 sayılı Kişisel Verilerin Korunması Hakkında Kanun kapsamında koruma altında olan ilan verene ait veya &uuml;&ccedil;&uuml;nc&uuml; kişilere ait kişisel veriler ve/veya &ouml;zel nitelikli kişisel veriler, başkaca bir ama&ccedil;la kullanılamaz, kopyalanamaz, başka mecralarda doğrudan veya dolaylı olarak yayınlanamaz, işlenemez, dağıtılamaz, başkaca veri tabanlarına aktarılarak &uuml;&ccedil;&uuml;nc&uuml; kişilerin erişimine ve kullanımına a&ccedil;ılamaz.</p>

            <p style="font-size:large"><strong>İlan Verme Kuralları</strong></p>
            <p style="margin-left:60px">
                1 - İlan başlığında ve ilan a&ccedil;ıklama b&ouml;l&uuml;m&uuml;nde sadece gayrimenkul hakkındaki bilgiler yer almalıdır. İlanı y&uuml;klemeden &ouml;nce, s&ouml;z konusu taşınmaz hakkındaki yetki belgesinin ve tapu kayıt &ouml;rneğinin de portala y&uuml;klenmesi gerekmektedir ve ilan girişleri mutlaka mal sahibinin onayı alınarak yapılmalıdır. Yetki belgesi olmadan ya da mal sahibinin onayı alınmadan girilen ilanlar neticesinde 3. Şahısların uğrayabileceği zararlardan UPARAZZİ sorumlu değildir. Bu konudaki t&uuml;m sorumluluk ilanı giren &uuml;yeye aittir.
            </p>
            <p style="margin-left:60px">
                2 - Belirtilen b&ouml;l&uuml;mlerde reklam i&ccedil;erikli yazı yazılmaması, link eklenmemesi gerekmektedir.</strong>

            </p>
            <p style="margin-left:60px">
                3 - Yayınlanmak istenen ilanlarda kullanılan fotoğraflar, videolar ve 3 Boyutlu Tur g&ouml;r&uuml;nt&uuml;s&uuml;, satılan / kiralanan gayrimenkule ait olmalıdır. Yayınlanan i&ccedil;erikler, fotoğraf, video veya link olarak ilana eklenen 3 Boyutlu Tur g&ouml;r&uuml;nt&uuml;ler hakkında UPARAZZİ&rsquo;nin herhangi bir sorumluluğu bulunmamaktadır.
            </p>
            <p style="margin-left:60px">
                4 - İlan girişlerinde belirtilen kriterlerde (metrekare, ekili/dikili &uuml;r&uuml;n olup olmadığı, imar durumu, konum, fiyat v.b.) doğru bilgiler yer almalıdır.
            </p>
            <p style="margin-left:60px">
                5 - Eklenen fotoğrafların, videoların, 3 Boyutlu Tur g&ouml;r&uuml;nt&uuml;lerinin i&ccedil;eriğinde firma logoları veya farklı web sitelerinin link ya da isimleri yer almamalıdır.

            </p>

            <p style="margin-left:60px">
                6 - Sistem i&ccedil;erisindeki farklı bir kullanıcının fotoğrafı / fotoğrafları kullanılmamalıdır.

            </p>

            <p style="margin-left:60px">
                7 - <a style="color:blue" href="https://www.uparazzi.com.tr/">www.uparazzi.com.tr</a>'de bir gayrimenkule ait sadece bir ilan verilebilir.

            </p>

            <p style="margin-left:60px">
                8 - Girilen bir ilanın aynısı, ilk girilen ilan silinerek sisteme yeniden girilemez. Bir ilanın silinip sisteme tekrar yeni baştan girilmesi ve benzeri nitelikteki faaliyetleri ger&ccedil;ekleştiren &uuml;yelerin bu ilanları silinebilir, &uuml;yelikleri dondurulabilir veya &uuml;yelikleri iptal edilebilir.

            </p>

            <p style="margin-left:60px">
                9 - Her bir ilan i&ccedil;in farklı resimler kullanılmalıdır, aynı konumda dahi olsa aynı resim ikinci bir ilanda kullanılmamalıdır.

            </p>

            <p style="margin-left:60px">
                10 - İlan a&ccedil;ıklama b&ouml;l&uuml;mlerinde web sayfası, mail adresi ve firma iletişim bilgilerine yer verilmemelidir. Telefon numarası ve kullanıcı adı sadece kullanıcı bilgileri b&ouml;l&uuml;m&uuml;nde yayınlanmalıdır. Bayi kullanıcıları bayileri i&ccedil;in tanıtım sayfası hazırlayarak iletişim ve adres bilgilerini bu alanda yayınlayabilirler ancak web sayfası ismi belirtmemeleri gerekir.

            </p>

            <p style="margin-left:60px">
                11 - Satılan / kiralanan taşınmazların hizmet faturalarını keserek ilanları yayından kaldıracağını kabul beyan ve taahh&uuml;t eder.

            </p>

            <p style="margin-left:60px">
                12 - İlan verme aşamasında, ilana ait uparazzi.com.tr tarafından belirlenmiş bazı kriterler i&ccedil;in girilen bilgiler, ilan veren tarafından sonradan değiştirilemez, ilan veren bu konuda itirazda bulunmayacağını peşinen kabul etmektedir. Uparazzi.com.tr hangi kriterlere ait bilgilerin değiştirilemeyeceğini belirleme, zaman i&ccedil;inde belirlediği kriterlerde değişiklik yapma ve değişiklik yapma tarihi itibariyle belirlediği kriterleri t&uuml;m ilanlara uygulama hakkını saklı tutmaktadır.&rdquo;

            </p>

            <p style="margin-left:60px">
                13 - T&uuml;rk Parasının Kıymetini Koruma ile ilgili mevzuat gereği portal &uuml;zerinde verilecek olan ilanların para birimi olarak T&uuml;rk Lirası kullanımı zorunludur, yabancı para birimi &uuml;zerinden ilan girişi yapılamaz.

            </p>

            <ol start="14">
                <li><strong>KİŞİSEL VERİLERİN KORUNMASI VE VERİ İŞLEME HAKKINDA MUVAFAKATNAME</strong></li>
            </ol>
            <p>

                6698 Sayılı Kişisel Verilerin Korunması Kanunu (bundan böyle kanun olarak anılacaktır) 24 Mart 2016 tarihinde kabul edilmiş olup, yürürlüğe girmiştir. Kanun; Kişisel verilerin işlenmesinde başta özel hayatın gizliliği olmak üzere kişilerin temel hak ve özgürlüklerini korumak ve kişisel verileri işleyen gerçek ve tüzel kişilerin yükümlülükleri ile uyacakları usul ve esasları düzenlemek amacıyla kabul edilmiştir. Bu nedenle, bu belge de, UPARAZZİ adına, Kanunun 10.maddesinden doğan aydınlatma yükümlülüğünüzü yerine getirmek üzere açıklanmakta ve "Kişisel Verilerin Korunması ve Kişisel Veri Paylaşım izni"; Kullanıcıların/ziyaretçilerin bilgi ve incelemesine sunulmaktadır. Bu sorumluluğumuzun tam idraki ile KVKK da tanımlı şekli ile “Veri Sorumlusu” sıfatıyla, kişisel verilerinizi aşağıda izah edildiği surette ve mevzuat tarafından emredilen sınırlar çerçevesinde işlemekteyiz. UPARAZZİ olarak, Kişisel Verilerin Korunması Kanunu uyarınca Veri Sorumlusu sıfatıyla kişisel verilerinizi ilgili mevzuata uygun olarak alıp, sisteme işleyip gerektiğinde kullanacağız. UPARAZZİ tarafından atanacak Veri Sorumlusu temsilcisi de, yasal altyapı sağlandığında Veri Sorumluları Sicilinde ilan edilerek mevzuata uygun şekilde www.uparazzi.com.tr uzantılı web adresimizde duyurulacaktır
                <br /><br /> Kişisel verileriniz, Şirketimiz tarafından sağlanan hizmet ve şirketimizin ticari faaliyetlerine bağlı olarak değişkenlik gösterebilmekle birlikte; otomatik ya da otomatik olmayan yöntemlerle, şirketimizin birimleri, ofisleri, internet sitesi, sosyal medya mecraları, mobil uygulamalar ve benzeri vasıtalarla sözlü, yazılı ya da elektronik olarak toplanabilecektir. Şirketimizin sunduğu ürün ve hizmetlerden yararlandığınız müddetçe oluşturularak ve güncellenerek kişisel verileriniz işlenebilecektir.
                <br /><br /> Ayrıca, şirketimizin hizmetlerini kullanmak amacıyla çağrı merkezlerimizi veya internet sayfamızı kullandığınızda, şirketimizi veya internet sitemizi ziyaret ettiğinizde, şirketimizin düzenlediği eğitim, seminer veya organizasyonlara katıldığınızda kişisel verileriniz usulüne uygun olarak işlenebilecektir.
                <br /><br /> Toplanan kişisel verileriniz, şirketimiz tarafından sunulan ürün ve hizmetlerden sizleri faydalandırmak için gerekli çalışmaların birimlerimiz tarafından yapılması, şirketimiz tarafından sunulan hizmetlerin sizlerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarınıza göre özelleştirilerek sizlere önerilmesi, şirketimizin ve şirketimizle iş ilişkisi içerisinde olan kişilerin hukuki ve ticari güvenliğinin temini (şirketimiz tarafından yürütülen iletişime yönelik idari operasyonlar, bağımsız bayilerimizin denetimini sağlamak, müşterilerimizin değerlendirme/şikayet yönetimi süreçleri, araştırma süreçleri, etkinlik yönetimi, hukuki uyum süreci, denetim, mali işler v.b.), Şirketimizin ticari ve iş stratejilerinin belirlenmesi, uygulanması ve şirketimizin insan kaynakları politikalarının yürütülmesinin temini amaçlarıyla KVKK 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde işlenecektir.
                <br /><br /> Yukarıda toplanma amacını belirttiğimiz kişisel verileriniz; iş ortaklarımıza, tedarikçilerimize, bayilerimize, şirket yetkililerine, hissedarlarımıza, kanunen yetkili kamu kurumları ve özel kişilere, KVKK md. 8. ve 9 kapsamında yine yukarıda belirtilen amaçlarla çerçevesinde aktarılabilecektir.
                <br /><br /> Kişisel verileriniz, her türlü sözlü, yazılı ya da elektronik ortamda, yukarıda yer verilen amaçlar doğrultusunda şirketçe sunduğumuz ürün ve hizmetlerin belirlenen yasal çerçevede sunulabilmesi ve bu kapsamda şirketimizin sözleşme ve yasadan doğan mesuliyetlerini eksiksiz ve doğru bir şekilde yerine getirebilmesi gayesi ile edinilir. Kural olarak, kişisel verilerin ilgili kişinin açık rızası olmaksızın işlenmesi mümkün olmamakla birlikte, “ bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması”, “ Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması”, “ Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması”, “ ilgili kişinin kendisi tarafından alenileştirilmiş olması”, “İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması” ve/veya “Kanunlarda açıkça öngörülmesi” durumlarından herhangi birinin mevcudiyeti halinde, ilgili kişinin açık rızası aranmaksızın kişisel verilerinin işlenmesi mümkün olabilecektir.
                <br /><br /> İnternet sitemiz, arsa ve arazi uzmanlarımız, müşteri ziyaretlerinde toplanan formlar, dijital pazarlama ve çağrı merkezi/internet sitemiz/sosyal medya/organizatörlerimiz/iş ortaklarımız ve bunlarla sınırlı olmamak üzere her türlü kanallar aracılığıyla, kişisel ve/veya özel nitelikli kişisel verileriniz, onayınız dahilinde sözlü, yazılı veya elektronik ortamda toplanabilmektedir.
                <br /><br /> KVKK md. 11 gereği haklarınız; Şirketimize başvurarak, kişisel verilerinizin; a) işlenip işlenmediğini öğrenme, b) işlenmişse bilgi talep etme, c) işlenme amacını ve amacına uygun kullanılıp kullanılmadığını öğrenme, ç) yurt içinde / yurt dışında aktarıldığı 3. kişileri bilme, d) eksik / yanlış işlenmişse düzeltilmesini isteme, e) KVKK’nın 7. maddesinde öngörülen şartlar çerçevesinde silinmesini / yok edilmesini isteme, f) aktarıldığı 3. kişilere yukarıda sayılan (d) ve (e) bentleri uyarınca yapılan işlemlerin bildirilmesini isteme, g) münhasıran otomatik sistemler ile analiz edilmesi nedeniyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme, ğ) kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde zararın giderilmesini talep etme hakkına sahipsiniz.
                <br /><br />  Kişisel verilerimi doğrudan veya dolaylı olarak kanun yada sözleşmeden doğan herhangi bir gizlilik yükümlülüğünü ihlal etmeksizin vermeye yetkili olduğumu, bu muvafakatnamede yer alan süreç ve işlemlerin yerine getirilmesi için gerekli onayları usulüne uygun olarak verdiğimi, kişisel verilerin korunması hakkında bilgilendirme formunu okuduğumu, yapılan bilgilendirmeler çerçevesinde kişisel verilerimin işlenmesini ve aktarılmasını kabul ediyorum.
            </p>

        </div>
    </section>
</main>
