

<li><hr class="light-grey-hr mb-10" /></li>

<li class="navigation-header">
    <span>Kur Bilgileri</span>
    <i class="zmdi zmdi-more"></i>
</li>
<li>
    <a><div class="pull-left"><i class="fa fa-dollar mr-20"></i><span class="right-nav-text">Dolar</span></div><div class="pull-right"><span class="label label-danger">@ViewBag.Dolar ₺</span></div><div class="clearfix"></div></a>
</li>
<li>
    <a><div class="pull-left"><i class="fa fa-euro mr-20"></i><span class="right-nav-text">Euro</span></div><div class="pull-right"><span class="label label-danger">@ViewBag.Euro ₺</span></div><div class="clearfix"></div></a>
</li>
