@model MailVM
@{
    ViewBag.Title = "MailDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Title -->
    
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default card-view  pa-0">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="mail-box">
                            <div class="row">
                                

                                <aside class="col-lg-12 col-md-12 pl-0">
                                    <div class="panel panel-refresh pa-0">
                                   
                                        <div class="panel-wrapper collapse in pt-20">
                                            <div class="panel-body inbox-body pa-0">
                                                <div class="heading-inbox">
                                                    <div class="container-fluid">
                                                        <div class="pull-left">
                                                            <div class="compose-btn">
                                                                <a class="btn btn-sm mr-10" href="#" data-toggle="modal" title="Compose"><i class="zmdi zmdi-chevron-left"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="pull-right text-right">
                                                            <button class="btn btn-sm mr-10" title="" type="button"><i class="zmdi zmdi-print"></i> </button>
                                                            <button class="btn btn-sm mr-10" title=""><i class="zmdi zmdi-delete"></i></button>
                                                            <div class="inline-block dropdown">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="zmdi zmdi-more"></i></a>
                                                                <ul class="dropdown-menu bullet dropdown-menu-right" role="menu">
                                                                    <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>Mark as Unread</a></li>
                                                                    <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i>Mark as Important</a></li>
                                                                    <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i>Report Spam</a></li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <hr class="light-grey-hr mt-10 mb-15" />
                                                    <div class="container-fluid mb-20">
                                                        <h4 class="weight-500"> @Model.Subject</h4>
                                                    </div>
                                                </div>
                                                <div class="sender-info">
                                                    <div class="container-fluid">
                                                        <div class="sender-img-wrap pull-left mr-20">
                                                            <img class="sender-img" alt="user" src="~/AdminTheme/doodle-demo/img/user1.png">
                                                        </div>
                                                        <div class="sender-details   pull-left">
                                                            <span class="capitalize-font pr-5 txt-dark block font-15 weight-500 head-font">@Model.from</span>
                                                            <span class="block">
                                                                to
                                                                <span>me</span>
                                                            </span>
                                                        </div>
                                                        <div class="pull-right">
                                                            <div class="inline-block mr-5">
                                                                <span class="inbox-detail-time-1 font-12">@Model.Date</span>
                                                                <span class="inbox-detail-time-2 font-12 inline-block"></span>
                                                            </div>
                                                            <div class="inline-block dropdown">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="zmdi   zmdi-more-vert"></i></a>
                                                                <ul class="dropdown-menu bullet dropdown-menu-right" role="menu">
                                                                    <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>Reply</a></li>
                                                                    <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i>Forward</a></li>
                                                                    <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i>Delete</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="container-fluid view-mail mt-20">
                                                    @Html.Raw(Model.Body)
                                                </div>
                                                <hr class="light-grey-hr mt-20 mb-20" />
                                                <div class="container-fluid attachment-mail mt-40 mb-40">
                                                    <div class="download-blocks mb-20">
                                                        @if (Model.Body.Contains("<img src") || Model.Attachment.Count > 0)
                                                        {
                                                            <span class="pr-15">
                                                                <i class="zmdi zmdi-attachment-alt pr-10">  Bu Mailde Ek bulunmaktadır.  Yandex.com.tr üzerinden yada Kullanıdığınız diğer mail platformlarından Ek'lere ulaşabilirsiniz. </i>
                                                            </span>
                                                        }
                                                      
                                                    </div>
                                                    <ul>
                                                        
                                                       
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>


