
    <section class=" newsNstoriesBlock">
        <div class="container">
            <h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">Medya İçeriklerimiz</span></h1>
            <div class="row">
                <!-- newsCarousel -->
                <div class="news-posts-carousel2 slickSlider newsCarousel">
                    <div>
                        <div class="col-xs-12">
                            <!-- newsPostColumn -->
                            <article class="newsPostColumn" style="min-height:unset;border:unset">
                                <div class="aligncenter">
                                    <iframe src="https://www.youtube.com/embed/rU49I-tK--I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%;height:350px"></iframe>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div>
                        <div class="col-xs-12">
                            <!-- newsPostColumn -->
                            <article class="newsPostColumn" style="min-height:unset;border:unset">
                                <div class="aligncenter">
                                    <iframe src="https://www.youtube.com/embed/HqIaYhhcwAc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%;height:350px"></iframe>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div>
                        <div class="col-xs-12">
                            <!-- newsPostColumn -->
                            <article class="newsPostColumn" style="min-height:unset;border:unset">
                                <div class="aligncenter">
                                    <iframe src="https://www.youtube.com/embed/ulpROx8GCKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%;height:350px"></iframe>
                                </div>
                            </article>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>