
@{
    ViewBag.Title = "Hata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="propertyIntroBlock style2">
        <!-- propertyIntroImageSlider -->
        <div class="slick-fade slickSlider introSlider propertyIntroImageSlider">
            <div>
                <span class="bgCover elemenBlock introSlide" style="background-image: url(/Theme/images/back.jpg);"></span>
            </div>
        </div>
        <!-- propertyIntroCaption -->
        <div class="container propertyIntroCaption textWhite">
            <div class="align">
                <div class="row alignEnd">
                    <div class="col-xs-12 col col-sm-8">
                        <!-- breadcrumb -->
                        <ol class="breadcrumb breadcrumb1">
                        </ol>
                        <h1 class="fontNeuron textWhite">Hata..</h1>
                    </div>
                    <div class="col-xs-12 col-sm-4 justify-end">
                        <!-- captionActionsList -->
                        <ul class="list-unstyled captionActionsList w100">
                            <li class="hasOver">
                                <a href="#">

                                </a>
                                <!-- postColumnSocial -->


                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section id="content" class="container pCombine">
    <section class="block404 text-center">
        <h1 class="fontNeuron">Hata<span>Sayfa Bulunamadı.</span></h1>
        <p>Üzgünüz beklenmeyen bir sorunla karşılaştık, ekibimiz sorunu algıladı ve şuan çözüm için çalışmakta. Anlayışınız için teşekkür ederiz.</p>
      
        <a href="/" class="buttonL btn btnDark fontNeuron">Anasayfa'ya Geri Dön</a>
    </section>
</section>
<!-- signupFormAside -->
